<div class="relative flex flex-col w-full" >
  <% if(invoiceType != 2) { %>
  <div class="total flex justify-between text-[12.51px] ">
    <div class="left leading-4 ">
      <p class="font-semibold">Arrêtée la présente Facture à la somme de : 
        <span class="font-normal">
          <%=totalLetter %>
          <%=currency %>
        </span>
      </p>
      <p>
        <%= /* totalLetter */%>  <%= /* currency */%>
  
        <% if(invoiceType != 2) { %>
          
          <% if(project.modalite != 0){ %> 
       
        Modalité de paiment : <%=project.modalite%>% à la commande

        <% if(invoiceType == 1) { %>
         <%=   project.invoiceType == 0 ? " -  Accompte à payer ": "Acompte déjà payé" %>  : <%= totalAccount %> <%=currency %> <br>
         <%=   project.invoiceType == 0 ? " Réliquat à la livraison": "Reliquat à payer" %>  : <%= totalReliquat %> <%=currency %> <br>
  
        <% } %>
        <% } %>
        <% } %>
      </p>
      <% if(project.remarque.length > 0){ %>
        <div class="flex justify-between  mt-3 text-[#4D4B4C]">
          <p><span class="pr-1 underline">Remarque :</span> <%= project.remarque %></p>
        </div>             
    
        <% }%>
    </div>
    <% } %>
    <% if(invoiceType != 2) { %>
      <div class="right flex flex-col text-[12px] inter">
        
        <div class="flex flex-col">
          <% if(project.tva != 0 || project.tva != ''){ %>
          <p class="flex justify-between">
            <span>MONTANT TOTAL HT:</span>
            <span> <%=totalHT%>  <%=currency %></span>
          </p>
          <% } %>
    
          <% if(project.tva != 0 || project.tva != ''){ %>
          <p class="flex justify-between">
            <span>TVA <%=project.tva%>%:</span>
            <span><%=totalTva%>  <%=currency %></span>
          </p>
    
          <% } %>
    
          <% if(project.discount != 0 || project.discount != ''){ %>
          <p class="remise flex justify-between w-full text-[10px]">
            <span>REMISE COMMERCIALE (<%= project.discount %>%) : </span>
            <span>- <%=totalDiscount%>  <%=currency %></span>
          </p>
          <% }%>

        </div>
    
        <p class="total-amount relative flex justify-between">
          <span class="absolute empty-total-amount"></span>
          <span> MONTANT TOTAL <%= (project.tva != 0 || project.tva != '') ? "TTC": "HT" %>: </span>
          <span class="pl-[4px]"> <%= total %>  <%=currency %></span>
        </p>
      </div>
    </div>
    
    <div class="total-separator absolute hidden" ></div>
    <% } %>

 
</div>