<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

  <style>
    :root
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');
  
  body {
    font-family: 'Poppins', sans-serif;;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .poppin {
    font-family: 'Poppins', sans-serif;;
  }
  .page-header,
  .page-header-space {
    height: 100px;
  }
  
  .page-footer,
  .page-footer-space {
    height: 120px;
  }
  
  .page-footer {
    position: fixed;
    bottom: 0px;
    height: 100px;
    
    width: 100%;
    /* for demo */
    /* for demo */
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
    background: yellow; /* for demo */
  }
  
  .page {
    page-break-after: always;
    padding-bottom: 0px;
  }
  
  @page {
    margin: 0mm;
  }
  
  @media print {
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
    
    button {
      display: none;
    }
    
    body {
      margin: 0;
    }
  }
  /* Facture Custom styling */

  /* End Facture Custom styling */
</style>

    <!-- Templates styling -->
  <style>
    .header {
    padding: 0px 55px;
  }
  .date {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #000100;
  }
    .headline-wrapper {
    width: auto;
    margin: 0 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .facture-content .headline-wrapper .facture-number {
    display: none;
  }
    .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;
  }
  .sub-headline {
    flex: 1;
  }
  .sub-headline > div {
    flex: 1;
  }

  .sub-headline > div {
    gap: 16px;
    justify-content: space-between;
  }

  .hidden-subheadline {
    display: none;
  }

  .hidden-subheadline div {
    display: none;
  }

  .sub-headline p {
    max-width: 150px;
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: none;
  }
    .tabs-header {
    gap: 5px;
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 8px;
  }

  .tabs-header p {
    padding-top: 10px; /* /!\ */
    padding-bottom: 10px; /* /!\ */
  }
  
  .facture-content .tabs-header .description {
    padding-left: 10px;
  }

  .tabs-item {
    padding: 0 56px;
  }
  
  .tabs-item p {
    padding-top: 14px; /* /!\ */
    padding-bottom: 14px; /* /!\ */
    padding-left: 5px;
  }

  .tabs-item.empty-item {
    display: none;
  }
  
  /* Show default qty */
  .tabs .quantity {
    display: none;
  }
  
  .tabs .quantity.second {
    display: block;
  }
  
  /* Hide indexs */
  .tab-indexs {
    display: block;
  }

  .tabs .amount {
    padding-left: 0 !important;
  }
    .total {
    color: #4D4B4C;
    margin-top: 3.63px;
    padding-left: 76px;
    padding-right: 76px;
    align-items: flex-start;
    gap: 10px;
  }

  .left {
    max-width: 350px;
  }

  .right, .right > div {
    min-width: 260px;
    gap: 10px;
  }

  .right p {
    padding-left: 6px;
    padding-right: 14px;
  }
  
  .right p span {
    z-index: 2;
  }

  .right .remise {
    padding: 6px 12px 8px 6px;
    border: 1px solid #4D4B4C;
  }

  .right .total-amount {
    background: pink;
    padding: 10px 12px 10px 9px;
  }

  .total-separator {
    height: 1px;
    background: black;
    left: 0;
    right: 0;
  }
    .sign {
    margin-top: 8px;
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .sign > div p {
    width: 130px;
    padding-top: 0;
    padding-bottom: 8px; 
  }

  .sign > div:last-child {
     /* margin-top: -8px*/
     margin-top: 0;
  }
  /* <!-- addons styling --> */
    .header .facture-number {
    display: flex;
    flex-direction: column;
  }
  .facture-number > div {
    display: flex;
    text-align: center;
    align-self: center;
    gap: 10px;
  }

  .facture-number .date {
    flex: 1;
    text-align: center;
    border-color: #4D4B4C;
  }

  .headline-wrapper {
    margin-top: 10px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header {
    flex-direction: row-reverse;
  }

  .header > .facture-number {
    align-items: flex-start;
    text-align: start;
  }

  .header .headline-wrapper {
    align-items: flex-start;
    text-align: start;
  } 

  .facture-number > div {
    text-align: start;
    align-self: flex-start;
  }

  .headline-wrapper {
    margin-left: 0;
  }

  .headline p {
    padding-left: 0 !important;
  }

  .facture-number .date {
    width: 100%;
    text-align: start;
  }
      .facture-number {
    display: flex;
    flex-direction: column;
  }

  .facture-number > div {
    display: flex;
    font-size: 14px;
  }
  
  .facture-number > div p:last-child {
    padding-left: 6px;
    padding-top: 0;
  }

  .date {
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
    border: none;
    line-height: 12px;
    text-transform: uppercase;
  }

  .facture-content .facture-number p,
  .facture-content .facture-number > div p:last-child {
    padding-top: 0;
    font-size: 15px;
  }
  .facture-number p{
    
    font-size: 18px !important;
  }
  .headline p{
    
    font-size: 15px !important; 
      
  }
  .headline{
     
    max-width: 400px !important; 
      
  }
    .tabs-item p {
    border-bottom: 1px solid #A6A5A3 /*rgba(29, 29, 29, 0.2)*/;
  }
      .tabs .quantity.second, 
  .tabs .quantity.third {
    display: none;
  }

  .tabs .quantity.first {
    display: block;
    width: 65px;
 ;
  }
      .total {
    position: relative;
    padding-bottom: 70px;
  }
  
  .right .total-amount {
    background: rgb(199, 163, 163);
    position: absolute;
    bottom: 0;
    left: 76px;
    right: 76px;
    width: auto;
  }
    </style>
<!-- end addons styling -->
<style>
  /* custom styling */

  .header {
    padding-top: 38px;
  }

  .logo img {
    object-position: right;
  }

  .headline-wrapper,
  .facture-number {
    color: #004F79;
  }

  .headline {
    border-top: 1px solid #004F79;
    padding-top: 10px;
  }

  .tabs {
    margin: 36px 56px 0 56px;
    background: #F8F7F7;
  }

  .tabs .tabs-header {
    padding: 0;
    padding-right: 26px;
    font-weight: 600;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--primary-text-color, white);
    background: var(--primary-color, #004F79);
  }

  .tabs .tabs-item {
    padding: 0 26px;
  }

  .tabs .tabs-header + .tabs-item p {
    padding-top: 40px;
  }

  .tabs .tabs-item.last p {
    border-bottom: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .tabs .tabs-item.last {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .tabs-header .quantity {
    width: 80px !important;
    padding-left: 10px;
    border-top-left-radius: 20px;
    color: var(--secondary-text-color, white);
    background: var(--secondary-color, #2FAC66);
  }

  .tabs .tabs-item .quantity {
    text-align: start;
    padding-left: 0px;
  }

  .total {
    padding-top: 47px;
  }
  
  .left, 
  .right .remise,
  .left p,
  .right p,
  .left p span {    
    color: #004F79 !important;
    border-color: #004F79;
  }

  .right .total-amount {
    border-top: 1px solid #004F79;
    border-bottom: 1px solid #004F79;
    background: transparent !important; 
  }

  .right .total-amount span:last-child {
    color: #2FAC66;
  }

  .page-footer {
    height: 100px;
    bottom: 0px;
    padding-top: 0px;
    text-align: center;
    color: #000;
  }

  .page-footer > div {
    padding-top: 16px;
  }

  /* custom end styling */
</style>

<body>
  <!-- footer -->
  <div class="page-footer footer">
    <div>
      <svg width="828" height="16" viewBox="0 0 828 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M-30.0859 8.32031H866.529" stroke="var(--primary-color, #004F79)" stroke-width="15.3004" stroke-miterlimit="10" stroke-linecap="round"/>
        <path d="M-30.0859 8.32031H304.658" stroke="var(--secondary-color, #2FAC66)" stroke-width="15.3004" stroke-miterlimit="10" stroke-linecap="round"/>
      </svg>
    </div>
    <%- include('../subtemplates2b/footer1') %>
  </div>
  <table>
    <tbody>
      <tr>
        <td class="pages w-[827px]">
          <main class="<%= 'facture-content flex flex-col w-full page-content ' + (invoiceType == 0 ? 'proforma' : invoiceType == 1 ? 'facture' : invoiceType == 2 ? 'bordereau' : 'facture-content') %>">
            <div class="h-4"></div>
            <!-- Header + Facture -->
            <%- include('../subtemplates2b/headerheadline/headerheadline1') %>
            
            <!-- table -->
<%- include('../subtemplates2b/tabs/tab1') %>
            
                        <!-- facture totals informations -->
            <%- include('../subtemplates2b/total/total1') %>

            <!-- signature -->
            <%- include('../subtemplates2b/sign/sign1') %>

          </main>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
