<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

  <style>
    :root
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');
  
  body {
    font-family: 'Poppins', sans-serif;;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .poppin {
    font-family: 'Poppins', sans-serif;;
  }
  .page-header,
  .page-header-space {
    height: 100px;
  }
  
  .page-footer,
  .page-footer-space {
    height: 80px;
  }
  
  .page-footer {
    position: fixed;
    bottom: 80px;
    
    width: 100%;
    /* for demo */
    /* for demo */
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
    background: yellow; /* for demo */
  }
  
  .page {
    page-break-after: always;
    padding-bottom: 0px;
  }
  
  @page {
    margin: 0mm;
  }
  
  @media print {
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
    
    button {
      display: none;
    }
    
    body {
      margin: 0;
    }
  }
  /* Facture Custom styling */
  /* End Facture Custom styling */
</style>

    <!-- Templates styling -->
  <style>
    .header {
    padding: 0px 55px;
  }
  .date {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #000100;
  }
    .headline-wrapper {
    width: auto;
    margin: 0 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .facture-content .headline-wrapper .facture-number {
    display: none;
  }
    .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;
  }
  .sub-headline {
    flex: 1;
  }
  .sub-headline > div {
    flex: 1;
  }

  .sub-headline > div {
    gap: 16px;
    justify-content: space-between;
  }

  .hidden-subheadline {
    display: none;
  }

  .hidden-subheadline div {
    display: none;
  }

  .sub-headline p {
    max-width: 150px;
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: none;
  }
    .tabs-header {
    gap: 5px;
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 8px;
  }

  .tabs-header p {
    padding-top: 10px; /* /!\ */
    padding-bottom: 10px; /* /!\ */
  }
  
  .facture-content .tabs-header .description {
    padding-left: 10px;
  }

  .tabs-item {
    padding: 0 56px;
  }
  
  .tabs-item p {
    padding-top: 14px; /* /!\ */
    padding-bottom: 14px; /* /!\ */
    padding-left: 5px;
  }

  .tabs-item.empty-item {
    display: none;
  }
  
  /* Show default qty */
  .tabs .quantity {
    display: none;
  }
  
  .tabs .quantity.second {
    display: block;
  }
  
  /* Hide indexs */
  .tab-indexs {
    display: block;
  }

  .tabs .amount {
    padding-left: 0 !important;
  }
    .total {
    color: #4D4B4C;
    margin-top: 23.63px;
    padding-left: 56px;
    padding-right: 56px;
    align-items: flex-start;
    gap: 10px;
  }

  .left {
    max-width: 300px;
  }

  .right, .right > div {
    min-width: 260px;
    gap: 10px;
  }

  .right p {
    padding-left: 6px;
    padding-right: 14px;
  }
  
  .right p span {
    z-index: 2;
  }

  .right .remise {
    padding: 6px 12px 8px 6px;
    border: 1px solid #4D4B4C;
  }

  .right .total-amount {
    background: pink;
    padding: 10px 12px 10px 9px;
  }

  .total-separator {
    height: 1px;
    background: black;
    left: 0;
    right: 0;
  }
    .sign {
    margin-top: 8px;
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .sign > div p {
    width: 130px;
    padding-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #4E4D4D;
  }

  .sign > div:last-child {
     /* margin-top: -8px*/
     margin-top: 0;
  }
  /* <!-- addons styling --> */
     .facture-content .tab-indexs {
    display: block;
  }
      .tabs-item p {
    border-bottom: 1px solid #A6A5A3 /*rgba(29, 29, 29, 0.2)*/;
  }
    </style>
<!-- end addons styling -->
<style>
  /* custom styling */
  .header {
    padding-top: 40px;
  }
  .headline {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .tabs-header {
    gap: 0;
    margin-bottom: 0;
    background: color-mix(in srgb, var(--primary-color, #61C1C6) 40%, transparent);
  }

  .tabs-header p {
    background: none;
  }

  .empty-item p:nth-child(4),
  .empty-item p:last-child,
  .tabs-header p:nth-child(even),
  .tabs-item p:nth-child(4),
  .tabs-item p:last-child {
    background: rgba(128, 128, 128, 0.1)
  }

  .tabs-header .description {
    padding-left: 60px !important;
    justify-content: flex-start !important;
  }

  .tabs-item p, .tabs-item p.quantity.second, .tabs-item p:first-child {
    display: flex;
    justify-content: center;
    align-items: center !important;
  }

  .tabs-header p {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .tabs-header + .tabs-item p {
    padding-top: 25px;
  }
  
  .facture-content .tabs-item p:nth-child(3) {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 30px;
  }

  .tabs-item p:first-child{
    padding-left: 0;
  }

  .empty-item p:first-child,
  .tabs-item p:first-child {
    border: none;
    background: color-mix(in srgb, var(--primary-color, #61C1C6) 40%, transparent);
  }

  .page-footer div p {
    text-align: center;
  }

  .facture-content .tabs-item.empty-item p {
    border-bottom: none !important;
  }

  .facture-content .empty-item {
    width: auto;
    margin: 0 56px;
  }

  .facture-content .empty-item p {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .total {
    margin-top: 40px;
  }

  .right .total-amount {
    background: transparent;
    font-weight: 600;
    font-size: 14px;
    border-top: 1px solid #B0B0AF;
    padding-top: 16px;

  }

  .bordereau .tabs-header p {
    background: transparent !important;
  }

  .page-footer {
    color: var(--primary-text-color,white);
    align-items: center;
    justify-content: center;
    background: var(--primary-color, #61C1C6);
    height: 80px;
    bottom: 0px;

}
  .page-footer div {
    color: var(--primary-text-color,white);
  }
  .page-footer div p {
    text-align: center;
  }

  .tab-indexs {
    width: 65px !important;
  }

  .quantity {
    width: 100px !important;
  }

  .tabs-header .description {
    text-transform: uppercase;
  }

 .tabs-item .description {
    padding-right: 10px;
  }

  .facture-content .remise {
    border: none;
    font-weight: 600;
    padding-bottom: 0;
  }

  .right, .right > div {
    gap: 8px !important;
  }

  .bordereau .header + div {
    right: 220px;
  }
  .proforma .header + div {
    right: 200px;
  }

  .bordereau .tabs-header .quantity {
    padding-right: 32px !important;
  }

  .bordereau p:last-child {
    background: white;
  }

  .bordereau .empty-item p:nth-child(3) {
    display: block !important;
    margin-left: 36px !important;
    background: rgba(128, 128, 128, 0.1) !important;
  }

  /* custom end styling */
</style>

<body>
  <!-- footer -->
  <div class="pt-4 page-footer footer">
    <%- include('../subtemplates2b/footer1') %>
  </div>
  <table>
    <tbody>
      <tr>
        <td class="pages w-[827px]">
          <main class="<%= 'facture-content flex flex-col w-full page-content ' + (invoiceType == 0 ? 'proforma' : invoiceType == 1 ? 'facture' : invoiceType == 2 ? 'bordereau' : 'facture-content') %>">
            
            <!-- Header + Facture -->
            <%- include('../subtemplates2b/header/header1') %>
            <div class="absolute right-[185px] top-[84px]">
              <svg xmlns="http://www.w3.org/2000/svg" width="99" height="16" viewBox="0 0 99 16" fill="none">
                <path d="M2.54802 15.4497C26.0125 9.97387 50.0162 7.14195 74.1107 7.00683C81.0004 7.00683 87.8762 7.18765 94.7381 7.54929C96.7271 7.66056 97.047 5.61591 95.0024 5.49073C70.548 4.0504 46.0093 5.33798 21.8401 9.32966C14.9133 10.4888 8.02362 11.8797 1.17103 13.5024C-0.929257 13.9892 1.17103 15.8252 2.56195 15.4914" fill="var(--primary-color, #63C1C5)"/>
                <path d="M89.2163 1.91576C90.8896 4.308 93.0514 6.31807 95.5589 7.81325C95.6423 7.11779 95.7397 6.42233 95.8371 5.74078C91.7643 7.30112 87.8125 9.16076 84.0143 11.3045C83.8625 11.3794 83.7316 11.4906 83.6331 11.6282C83.5346 11.7659 83.4715 11.9256 83.4495 12.0935C83.4275 12.2613 83.4472 12.4319 83.5069 12.5903C83.5666 12.7486 83.6644 12.8898 83.7917 13.0014C84.0997 13.2813 84.4857 13.4606 84.8983 13.5153C85.3109 13.5699 85.7304 13.4974 86.1006 13.3074C89.6713 11.2558 93.3908 9.47506 97.228 7.98016C97.6592 7.79934 98.1042 7.56288 98.1738 7.04824C98.1848 6.81037 98.1262 6.57447 98.0051 6.36941C97.884 6.16436 97.7058 5.99906 97.4923 5.89378C95.4339 4.65072 93.6612 2.98706 92.2902 1.01166C92.042 0.684426 91.7005 0.44012 91.3106 0.310993C90.9208 0.181865 90.5009 0.173984 90.1064 0.288384C89.4666 0.469203 88.8268 1.19248 89.2997 1.86012" fill="var(--primary-color, #63C1C5)"/>
              </svg>
            </div>
            <!-- Headline -->
<%- include('../subtemplates2b/headline/headline1') %>
            
            <!-- table -->
<%- include('../subtemplates2b/tabs/tab1') %>
            
                        <!-- facture totals informations -->
                        <div class="relative flex flex-col w-full" >
                          <% if(invoiceType != 2) { %>
                          <div class="total flex justify-between text-[12.51px] ">
                            <div class="leading-4 left ">
                              <p class="font-semibold">Arrêtée la présente Facture à la somme de :</p>
                              <p>
                                <%=totalLetter %> <%=currency %><br>
                          
                                <% if(invoiceType != 2) { %>
                                  
                                  <% if(project.modalite != 0){ %> 
                               
                                Modalité de paiment : <%=project.modalite%>% à la commande <br>
                        
                                <% if(invoiceType == 1) { %>
                                 <%=   project.invoiceType == 0 ? "Accompte à payer ": "Acompte déjà payé" %>  : <%= totalAccount %> <%=currency %> <br>
                                 <%=   project.invoiceType == 0 ? " Réliquat à la livraison": "Reliquat à payer" %>  : <%= totalReliquat %> <%=currency %> <br>
                          
                                <% } %>
                                <% } %>
                                <% } %>
                              </p>
                              <% if(project.remarque.length > 0){ %>
                                <div class="flex justify-between  mt-3 text-[#4D4B4C]">
                                  <p><span class="pr-1 underline">Remarque :</span> <%= project.remarque %></p>
                                </div>             
                            
                                <% }%>
                            </div>
                            <% } %>
                            <% if(invoiceType != 2) { %>
                              <div class="right flex flex-col text-[12px] inter relative">
                                
                                <div class="flex flex-col">
                                  <% if(project.tva != 0 || project.tva != ''){ %>
                                  <p class="flex justify-between">
                                    <span>MONTANT TOTAL HT:</span>
                                    <span> <%=totalHT%>  <%=currency %></span>
                                  </p>
                                  <% } %>
                            
                                  <% if(project.tva != 0 || project.tva != ''){ %>
                                  <p class="flex justify-between">
                                    <span>TVA <%=project.tva%>%:</span>
                                    <span><%=totalTva%>  <%=currency %></span>
                                  </p>
                            
                                  <% } %>
                            
                                  <% if(project.discount != 0 || project.discount != ''){ %>
                                  <p class="remise flex justify-between w-full text-[10px]">
                                    <span>REMISE COMMERCIALE (<%= project.discount %>%) : </span>
                                    <span>- <%=totalDiscount%>  <%=currency %></span>
                                  </p>
                                  <% }%>
                        
                                </div>
                            
                                <p class="relative flex justify-between total-amount">
                                  <span class="absolute empty-total-amount"></span>
                                  <span> MONTANT TOTAL <%= (project.tva != 0 || project.tva != '') ? "TTC": "HT" %>: </span>
                                  <span class="pl-[12px]"> <%= total %>  <%=currency %></span>
                                </p>
                                <div class="absolute bottom-[3px] left-[-6px]">
                                  <svg width="179" height="33" viewBox="0 0 179 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.29195 1.83513C0.29195 6.51948 0.29195 11.2038 0.29195 15.8881C0.29195 20.3149 -0.159305 24.8062 0.29195 29.2169C0.663572 32.71 4.48595 33.0963 9.39667 32.9836L32.4904 32.4685L124.201 30.4402L170.389 29.4261C172.566 29.5641 174.763 29.3298 176.733 28.75C177.583 28.3126 178.23 27.7488 178.612 27.1138C178.993 26.4788 179.096 25.7944 178.909 25.1281C178.511 20.653 176.998 16.1296 176.016 11.7029C175.512 9.46532 175.034 7.22779 174.53 4.97415C174.558 3.55415 173.684 2.18204 172.088 1.14295C170.017 0.112717 166.991 0.418549 164.496 0.418549H152.577L106.178 0.321968L2.68093 0C0.0264895 0 1.11481 2.33416 3.26491 2.35026L86.7737 2.52731H127.838H148.383H163.646C165.411 2.41343 167.191 2.41343 168.955 2.52731C170.229 2.70438 169.752 2.52728 170.256 3.10679C170.437 3.54399 170.535 3.99227 170.548 4.4429L171.265 7.66239C171.716 9.77115 172.167 11.8799 172.645 13.9725C173.123 16.0652 173.521 17.9325 173.946 19.9125C174.291 21.5222 175.91 24.4842 174.476 25.9813C173.043 27.4783 168.424 26.9149 166.115 26.9632L155.497 27.1886L134.262 27.6554L51.7881 29.4905L28.6945 30.0056L16.8292 30.2631L11.5203 30.3758C9.55266 30.5547 7.55791 30.5979 5.57427 30.5046C3.2649 30.1666 3.87546 28.6856 3.87546 27.4622C3.87546 26.2388 3.87546 25.3051 3.87546 24.2427C3.87546 21.8281 3.87546 19.4135 3.87546 17.015C3.87546 12.1858 3.87546 7.35653 3.87546 2.52731C3.87546 1.28781 0 0.128811 0 1.64197" fill="#63C1C5"/>
                                    </svg>                                    
                                </div>
                              </div>
                            </div>
                            
                            <div class="absolute hidden total-separator" ></div>
                            <% } %>
                         
                        </div>



            <!-- signature -->
            <%- include('../subtemplates2b/sign/sign1') %>
            
          </main>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
