<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

  <style>
    :root
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');
  
  body {
    font-family: 'Poppins', sans-serif;;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .poppin {
    font-family: 'Poppins', sans-serif;;
  }
  .page-header,
  .page-header-space {
    height: 100px;
  }
  
  .page-footer,
  .page-footer-space {
    height: 80px;
  }
  
  .page-footer {
    position: fixed;
    bottom: 0px;
    
    width: 100%;
    /* for demo */
    /* for demo */
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
    background: yellow; /* for demo */
  }
  
  .page {
    page-break-after: always;
    padding-bottom: 0px;
  }
  
  @page {
    margin: 0mm;
  }
  
  @media print {
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
    
    button {
      display: none;
    }
    
    body {
      margin: 0;
    }
  }
  /* Facture Custom styling */
  
  /* End Facture Custom styling */
</style>

    <!-- Templates styling -->
  <style>
    .header {
    padding: 0px 55px;
  }
  .date {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #000100;
  }
    .headline-wrapper {
    width: auto;
    margin: 0 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .facture-content .headline-wrapper .facture-number {
    display: none;
  }
    .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;
  }
  .sub-headline {
    flex: 1;
  }
  .sub-headline > div {
    flex: 1;
  }

  .sub-headline > div {
    gap: 16px;
    justify-content: space-between;
  }

  .hidden-subheadline {
    display: none;
  }

  .hidden-subheadline div {
    display: none;
  }

  .sub-headline p {
    max-width: 150px;
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: none;
  }
    .tabs-header {
    gap: 5px;
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 8px;
  }

  .tabs-header p {
    padding-top: 10px; /* /!\ */
    padding-bottom: 10px; /* /!\ */
  }
  
  .facture-content .tabs-header .description {
    padding-left: 10px;
  }

  .tabs-item {
    padding: 0 56px;
    
  }
  
  .tabs-item p {
    padding-top: 14px; /* /!\ */
    padding-bottom: 14px; /* /!\ */
    padding-left: 5px;
 
  }

  .tabs-item.empty-item {
    display: none;
  }
  
  /* Show default qty */
  .tabs .quantity {
    display: none;
  }
  
  .tabs .quantity.second {
    display: block;
  }
  
  /* Hide indexs */
  .tab-indexs {
    display: block;
  }

  .tabs .amount {
    padding-left: 0 !important;
  }
    .total {
    color: #4D4B4C;
    margin-top: 23.63px;
    padding-left: 56px;
    padding-right: 56px;
    align-items: flex-start;
    gap: 10px;
  }

  .left {
    max-width: 350px;
  }

  .right, .right > div {
    min-width: 260px;
    gap: 10px;
  }

  .right p {
    padding-left: 6px;
    padding-right: 14px;
  }
  
  .right p span {
    z-index: 2;
  }

  .right .remise {
    padding: 6px 12px 8px 6px;
    border: 1px solid #4D4B4C;
  }

  .right .total-amount {
    background: pink;
    padding: 10px 12px 10px 9px;
  }

  .total-separator {
    height: 1px;
    background: black;
    left: 0;
    right: 0;
  }
    .sign {
    margin-top: 8px;
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
   
  }

  .sign > div p {
    width: 130px;
    padding-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #4E4D4D;
  }

  .sign > div:last-child {
     /* margin-top: -8px*/
     margin-top: 0;
  }
  /* <!-- addons styling --> */
    .header .facture-number {
    display: flex;
    flex-direction: column;
  }
  .facture-number > div {
    display: flex;
    text-align: center;
    align-self: center;
    gap: 10px;
  }

  .facture-number .date {
    flex: 1;
    text-align: center;
    border-color: #4D4B4C;
  }

  .headline-wrapper {
    margin-top: 10px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
      /* Pour ajouter du background au tabs items full-width*/
  .tabs-item:nth-child(even) {
    background: transparent;
  }
  
  /* Pour ajouter du background au tabs items not full-widht*/
  .tabs-item:nth-child(even) p {
    background: transparent;
  }
      .tabs .quantity.second, 
  .tabs .quantity.third {
    display: none;
  }

  .tabs .quantity.first {
    display: block;
    width: 65px;
  }
      .sign {
    margin-top: 8px;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    gap: 10px;
  }
  .sign > div {
    flex: 1;
    max-width: unset;
    min-height: 200px;
    margin-top: 0;
    padding: 8px 23px 20px 23px;
    border: 1px solid #000;
    position: relative;
    /* background: #F8F7F7; */
  }

  .sign > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
    </style>
<!-- end addons styling -->
<style>
  /* custom styling */
  
  .header {
    padding-top: 44px;
    padding-bottom: 33px;
  }

  .header + div {
    background: color-mix(in srgb, var(--primary-color, #E585A5) 10%, transparent);
  }

  .header .date {
    border-top: none;
  }

  .facture-number p {
    color: var(--secondary-color, #1791B7);
  }

  .facture-number > div:first-child p {
    color: var(--primary-color, #E585A5);
  }

  .tabs {
    padding-top: 28px;
  }

  .tabs-header {
    margin-bottom: 0 !important;
  }

  .tabs .description {
    padding-left: 28px !important;
  }

  .tabs-header + .tabs-item p {
    padding-top: 36px;
    background: white;
  }

  .tabs-header .quantity {
    color: var(--primary-text-color, white);
    background: var(--secondary-color, #86CFEB);
  }

  .tabs .tabs-item .quantity {
    background: #F8F7F7 !important;
    border-bottom: none;
  }

  .total .total-amount,
  .tabs-header {
    color: var(--primary-text-color, white);
    background: var(--primary-color, #F6BBCC);
  }

  .tabs-header {
    color: var(--secondary-text-color, #1791B7);
    font-weight: 600;
  }

  .tabs-item:nth-child(odd) p {
    background: color-mix(in srgb, var(--primary-color, #E585A5) 10%, transparent);;
  }

  .total {
    margin: 22px 56px 0 56px;
    padding: 16px 19px;
    border-radius: 20px;
    background: color-mix(in srgb, var(--primary-color, #E585A5) 10%, transparent);;
  }
  .right .remise {
    border: none;
    color: var(--secondary-text-color, white);
    background: var(--secondary-color, #86CFEB);
  }

  .sign {
    padding-top: 16px;
  }

  .sign > div, .sign > div > p {
    border: none;
  }

  .sign > div:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .sign > div:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .page-footer {
    height: 80px;
    bottom: 0px;
    padding-top: 10px;
    background: var(--secondary-color, #86CFEB);
    text-align: center;
    color: var(--secondary-text-color, #000);
  }


  .logo {
    width: 380px !important;
    max-width: 380px !important;
 
    padding-left: 0 !important;
  }

  .logo img {
    object-position: left;
  }


  /* custom end styling */
</style>

<body>
  <!-- footer -->
  <div class="page-footer footer">
    <%- include('../subtemplates2b/footer1') %>
  </div>
  <table>
    <tbody>
      <tr>
        <td class="pages w-[827px]">
          <main class="<%= 'facture-content flex flex-col w-full page-content ' + (invoiceType == 0 ? 'proforma' : invoiceType == 1 ? 'facture' : invoiceType == 2 ? 'bordereau' : 'facture-content') %>">
            <!-- Header + Facture -->
            <%- include('../subtemplates2b/headerheadline/headerheadline2') %>
            <div class="w-full h-[324px]  absolute top-0 z-[-1]"></div>
            
            <!-- table -->
<%- include('../subtemplates2b/tabs/tab1') %>
            
 
                        <!-- facture totals informations -->
            <%- include('../subtemplates2b/total/total1') %>

            <!-- signature -->
            <%- include('../subtemplates2b/sign/sign1') %>
            
          </main>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
