<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <style>
    :root
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');

    body {
      font-family: 'Poppins', sans-serif;;
    }
    .inter {
      font-family: 'Inter', sans-serif;
    }
    .poppin {
      font-family: 'Poppins', sans-serif;;
    }
    .page-header,
    .page-header-space {
      height: 100px;
    }

    .page-footer,
    .page-footer-space {
      height: 80px;
    }

    .page-footer {
      position: fixed;
      bottom: 80px;

      width: 100%;
      /* for demo */
      /* for demo */
    }

    .page-header {
      position: fixed;
      top: 0mm;
      width: 100%;
      border-bottom: 1px solid black; /* for demo */
      background: yellow; /* for demo */
    }

    .page {
      page-break-after: always;
      padding-bottom: 0px;
    }

    @page {
      margin: 0mm;
    }

    @media print {
      thead {
        display: table-header-group;
      }
      tfoot {
        display: table-footer-group;
      }

      button {
        display: none;
      }

      body {
        margin: 0;
      }
    }
    /* Facture Custom styling */
    .heading {
      margin-top: 94px;
    }

    .pages .heading .logo {
      width: 253px;
      height: 72px;
      border-radius: 0 !important;
      background: linear-gradient(90deg, #2F8234 -32.93%, #8BBE23 67.07%);
      margin-left: 0;
    }

    .headline p {
      font-weight: 400;
    }

    .tabs {
      
      background-color: #F5F5F5;
    }

    .tabs-item {
      color: #4D4B4C; 
    }
    .tabs-item   {
      padding-top: 10px;
     
    }

    .tabs .tabs-header {
      color: #242437;
      font-weight: 400;
    }

    .tabs .tabs-header p {
      background: #E8E7E7;
    }

    .tabs .tabs-header p:first-child {
      background: transparent;
      color: #2F8234 ;
      font-weight: 700;
      padding-left: 0;
    }

    .tabs > .tabs-item:first-child {
      background-color: white;
    }

    .tabs .empty-item {
      position: relative;
      height: 73px;
      background-color: #F5F5F5;
    }

    .tabs .empty-item div {
      position: absolute;
      bottom: 0;
      height: 4px;
      background: linear-gradient(90deg, var(--primary-color,#2F8234) 0%, var(--secondary-color,#8BBE23) 99.99%);
      color:  var(--primary-text-color,white);
    }

    .total .total-amount {
    
      background: linear-gradient(90deg, var(--primary-color,#2F8234) 0%, var(--secondary-color,#8BBE23) 99.99%);
      color:  var(--primary-text-color,white);
      
    }
    
    .footer {
      bottom: 0;
      color: #4D4B4C;
      
    }

    /* End Facture Custom styling */
  </style>

  <body>
    <!-- footer -->
    <%- include('../subtemplates/footer1') %>
    <table>
      <tbody>
        <tr>
          <td class="pages w-[827px]">

            <div class="flex flex-col w-full page-content">
              <!-- logo + facture -->
              <%- include('../subtemplates/header1') %>
          
              <!-- headline (object, address, client) -->
              <%- include('../subtemplates/headline1') %>

              <!-- table -->
              <%- include('../subtemplates/table1') %>
                
              <!-- facture totals informations -->
              <%- include('../subtemplates/total1') %>


              <!-- signature -->
              <%- include('../subtemplates/sign1') %>

              <!-- footer -->
            </div>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td>
            <!--place holder for the fixed-position footer-->
            <div class="page-footer-space"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
