<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

  <style>
    :root
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');
  
  body {
    font-family: 'Poppins', sans-serif;;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .poppin {
    font-family: 'Poppins', sans-serif;;
  }
  .page-header,
  .page-header-space {
    height: 100px;
  }
  
  .page-footer,
  .page-footer-space {
    height: 50px;
  }
  
  .page-footer {
    position: fixed;
    bottom: 80px;
    
    width: 100%;
    /* for demo */
    /* for demo */
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
    background: yellow; /* for demo */
  }
  
  .page {
    page-break-after: always;
    padding-bottom: 0px;
  }
  
  @page {
    margin: 0mm;
  }
  
  @media print {
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
    
    button {
      display: none;
    }
    
    body {
      margin: 0;
    }
  }
  /* Facture Custom styling */
 
  /* End Facture Custom styling */
</style>

    <!-- Templates styling -->
  <style>
    .header {
    padding: 0px 55px;
  }
  .date {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #000100;
  }
    .headline-wrapper {
    width: auto;
    margin: 0 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .facture-content .headline-wrapper .facture-number {
    display: none;
  }
    .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;
  }
  .sub-headline {
    flex: 1;
  }
  .sub-headline > div {
    flex: 1;
  }

  .sub-headline > div {
    gap: 16px;
    justify-content: space-between;
  }

  .hidden-subheadline {
    display: none;
  }

  .hidden-subheadline div {
    display: none;
  }

  .sub-headline p {
    max-width: 150px;
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: none;
  }
    .tabs-header {
    gap: 5px;
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 8px;
  }

  .tabs-header p {
    padding-top: 10px; /* /!\ */
    padding-bottom: 10px; /* /!\ */
  }
  
  .facture-content .tabs-header .description {
    padding-left: 10px;
  }

  .tabs-item {
    padding: 0 56px;
  }
  
  .tabs-item p {
    padding-top: 14px; /* /!\ */
    padding-bottom: 14px; /* /!\ */
    padding-left: 5px;
  }

  .tabs-item.empty-item {
    display: none;
  }
  
  /* Show default qty */
  .tabs .quantity {
    display: none;
  }
  
  .tabs .quantity.second {
    display: block;
  }
  
  /* Hide indexs */
  .tab-indexs {
    display: block;
  }

  .tabs .amount {
    padding-left: 0 !important;
  }
    .total {
    color: #4D4B4C;
    margin-top: 23.63px;
    padding-left: 56px;
    padding-right: 56px;
    align-items: flex-start;
    gap: 10px;
  }

  .left {
    max-width: 300px;
  }

  .right, .right > div {
    min-width: 260px;
    gap: 10px;
  }

  .right p {
    padding-left: 6px;
    padding-right: 14px;
  }
  
  .right p span {
    z-index: 2;
  }

  .right .remise {
    padding: 6px 12px 8px 6px;
    border: 1px solid #4D4B4C;
  }

  .right .total-amount {
    background: pink;
    padding: 10px 12px 10px 9px;
  }

  .total-separator {
    height: 1px;
    background: black;
    left: 0;
    right: 0;
  }
    .sign {
    margin-top: 8px;
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .sign > div p {
    width: 130px;
    padding-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #4E4D4D;
  }

  .sign > div:last-child {
     /* margin-top: -8px*/
     margin-top: 0;
  }
  /* <!-- addons styling --> */
    .facture-number {
    display: flex;
    flex-direction: column;
  }

  .facture-number > div {
    display: flex;
    font-size: 14px;
  }
  
  .facture-number > div p:last-child {
    padding-left: 6px;
    padding-top: 0;
  }

  .date {
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
    border: none;
    line-height: 12px;
    text-transform: uppercase;
  }

  .facture-content .facture-number p,
  .facture-content .facture-number > div p:last-child {
    padding-top: 0;
    font-size: 14px;
  }
    .tabs {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tabs-header {
    border-top: 1px solid #4D4B4C;
    border-bottom: 1px solid #4D4B4C;
    gap: 0;
  }

  .tabs-header .description {
    padding-left: 22px !important;
  }

  .tabs-item .description {
    padding-left: 22px;
  }
  
  .tabs-item .amount {
    padding-right: 22px;
  }
    .tabs-item p {
    border-bottom: 1px solid #A6A5A3 /*rgba(29, 29, 29, 0.2)*/;
  }
      .total {
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 0px;
  }
  
  .right, .right > div {
    gap: 0;
    width: 100%;
  }
  
  .right p {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .right p:nth-child(even) {
    background: transparent;
  }

  .right p:nth-child(2) {
    padding: 9;
    border-top: transparent;
  }

  .right .remise {
    border: none;
    font-size: 12px;
  }

  .right .total-amount {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .left {
    flex: 1;
    max-width: unset !important;
    margin-top: 20px;
  }
      .right {
    position: relative;
    padding-bottom: 40px;
    flex-wrap: wrap;
  }
  
  .right, .right div {
    gap: 0;
  }

  .right p {
    width: 40%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 11px;
    background: transparent;
  }

  .right .remise {
    padding-right: 6px;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }

  .right .remise span:first-child {
    padding-bottom: 8px;
  }

  .right p:nth-child(even) {
    background: transparent;
  }

  .right p.total-amount {
    padding-left: 11px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    width: auto;
    border-bottom: none;
    background: pink;
  }

  .empty-total-amount {
    height: 34px;
    width: 150px;
    top: 0;
    bottom: 0;
    left: 100px;
    z-index: -1;
  }

  .left {
    padding: 24px 54px;
  }

  .right p,
  .right .remise span {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .facture-content .right .remise {
    margin-top: 0;
    padding-top: 0;
    padding-right: 20px;
  }

  .facture-content .right .remise span {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0;
  }

    </style>
<!-- end addons styling -->
<style>
  /* custom styling */

  .header {
    justify-content: center !important;
  }

  .header .facture-number {
    display: none;
  }

  .logo {
    background: white;
    border-radius: 60%;
    padding: 12px 16px;
    margin-top: 40px;
  }

  .logo img {
    object-position: center;
  }

  .headline-wrapper {
    padding-top: 14px;
    flex-direction: row-reverse;
  }

  .headline-wrapper .facture-number {
    display: block !important;
    text-align: center;
  }

  .facture-number > div p {
    font-size: 22px !important;
    font-weight: 400;
  }

  .headline {
    text-align: center;
  }

  .tabs {
    padding-top: 42px;
  }

  .tabs-header {
    border-top: none;
    color: var(--primary-color, #004F79);
  }


  .right .total-amount {
    border-radius: 50px;
    color: var(--primary-text-color, white);
    background: var(--primary-color, #004F79) !important;
  }

  .left {
    text-align: center;
    padding-bottom: 0;
    padding: 11px 44px 8px 44px;
    border: 1px solid #000;
    border-radius: 150px;
   
  }

  .sign {
    padding-top: 12px;
  }

  .page-footer {
    height: 70px;
    bottom: 0px;
    padding-top: 16px;
    border-top: 1px solid #4D4B4C;
    text-align: center;
    color: #000;
  }

  /* custom end styling */
</style>

<style>
  .total {
    display: flex;
    flex-direction: column-reverse;
  }
  .left {
    width: 100%;
    padding-left: 44px;
    padding-right: 44px;
    margin-right: 0;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .left-remarque {
    padding-left: 64px;
    padding-right: 64px;
  }

  .right div:first-child {
    margin-bottom: 6px ;
  }

  .right div:first-child {
    padding-left: 14px !important;
  }

  .right p,
  .right .remise span {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .facture-content .right .remise {
    margin-top: 0;
    padding-top: 0;
    padding-right: 20px;
  }

  .facture-content .right .remise span {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0;
  }

  .right .total-amount {
    padding-left: 28px !important;
    padding-right: 28px !important;
  }

  .tabs-header p.quantity,
  .tabs-header p.amount,
  .tabs-header p.price {
    text-transform: uppercase;
  }

  .headline-wrapper {
    padding-top: 45px;
    padding-left: 18px;
    padding-right: 22px;
  }
  .headline {
    font-size: 14px !important;
    border: none;
    padding: 0 !important;
    text-align: end;
  }

  .facture-content .facture-number p {
    text-align: start !important;
    font-size: 20px;
    line-height: 24px;
  }


</style>

<body>
  <!-- footer -->
  <div class="page-footer footer">
    <%- include('../subtemplates2b/footer1') %>
  </div>
  <table>
    <tbody>
      <tr>
        <td class="pages w-[827px]">
          <main class="<%= 'facture-content flex flex-col w-full page-content ' + (invoiceType == 0 ? 'proforma' : invoiceType == 1 ? 'facture' : invoiceType == 2 ? 'bordereau' : 'facture-content') %>">
            <!-- Header + Facture -->
            <div class="absolute top-0 w-full left-0 right-0 z-[-1]">
              <svg width="828" height="82" viewBox="0 0 828 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_2525_1301" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-9" y="-13" width="844" height="95">
                <path d="M834.94 -12.4355H-8.33203V81.8703H834.94V-12.4355Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_2525_1301)">
                <path d="M414 58.2243C718.828 58.2243 965.94 -9.46196 965.94 -92.9572C965.94 -176.452 718.828 -244.139 414 -244.139C109.172 -244.139 -137.939 -176.452 -137.939 -92.9572C-137.939 -9.46196 109.172 58.2243 414 58.2243Z" fill="var(--primary-color, #004F79)"/>
                </g>
                </svg>
                
            </div>
<%- include('../subtemplates2b/header/header1') %>
            
            <!-- Headline -->
            <%- include('../subtemplates2b/headline/headline1') %>
            
            <!-- table -->
<%- include('../subtemplates2b/tabs/tab1') %>
            
                        <!-- facture totals informations -->
            <div class="relative flex flex-col w-full" >
              <% if(invoiceType != 2) { %>
              <div class="total flex justify-between text-[12.51px]">
                <% if(project.remarque.length > 0){ %>
                  <div class="flex justify-between  mt-3 text-[#4D4B4C] left-remarque">
                    <p><span class="pr-1 underline">Remarque :</span> <%= project.remarque %></p>
                  </div>             
              
                  <% }%>
                <div class="leading-4 left ">
                  <p class="font-semibold">Arrêtée la présente Facture à la somme de : 
                    <span class="font-normal">
                      Dix Sept Millions Neuf Cent Vingt Six Mille Quatre Cent

                    </span>
                  </p>
                  <p>
                    <%= /* totalLetter */%>  <%= /* currency */%>
              
                    <% if(invoiceType != 2) { %>
                      
                      <% if(project.modalite != 0){ %> 
                    
                    Modalité de paiment : <%=project.modalite%>% à la commande
            
                    <% if(invoiceType == 1) { %>
                      <%=   project.invoiceType == 0 ? " -  Accompte à payer ": "Acompte déjà payé" %>  : <%= totalAccount %> <%=currency %> <br>
                      <%=   project.invoiceType == 0 ? " Réliquat à la livraison": "Reliquat à payer" %>  : <%= totalReliquat %> <%=currency %> <br>
              
                    <% } %>
                    <% } %>
                    <% } %>
                  </p>

                </div>
                <% } %>
                <% if(invoiceType != 2) { %>
                  <div class="right flex flex-col text-[12px] inter">
                    
                    <div class="flex flex-col">
                      <% if(project.tva != 0 || project.tva != ''){ %>
                      <p class="flex justify-between">
                        <span>MONTANT TOTAL HT:</span>
                        <span> <%=totalHT%>  <%=currency %></span>
                      </p>
                      <% } %>
                
                      <% if(project.tva != 0 || project.tva != ''){ %>
                      <p class="flex justify-between">
                        <span>TVA <%=project.tva%>%:</span>
                        <span><%=totalTva%>  <%=currency %></span>
                      </p>
                
                      <% } %>
                
                      <% if(project.discount != 0 || project.discount != ''){ %>
                      <p class="remise flex justify-between w-full text-[10px]">
                        <span>REMISE COMMERCIALE (<%= project.discount %>%) : </span>
                        <span>- <%=totalDiscount%>  <%=currency %></span>
                      </p>
                      <% }%>
            
                    </div>
                
                    <p class="relative flex justify-between total-amount">
                      <span class="absolute empty-total-amount"></span>
                      <span> MONTANT TOTAL <%= (project.tva != 0 || project.tva != '') ? "TTC": "HT" %>: </span>
                      <span class="pl-[4px]"> <%= total %>  <%=currency %></span>
                    </p>
                  </div>
                </div>
                
                <div class="absolute hidden total-separator" ></div>
                <% } %>
            
              
            </div>

            <!-- signature -->
            <%- include('../subtemplates2b/sign/sign1') %>
              
          </main>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
