<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <style>
    :root
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');

    body {
      font-family: 'Poppins', sans-serif;;
    }
    .inter {
      font-family: 'Inter', sans-serif;
    }
    .poppin {
      font-family: 'Poppins', sans-serif;;
    }
    .page-header,
    .page-header-space {
      height: 100px;
    }

    .page-footer,
    .page-footer-space {
      height: 80px;
    }

    .page-footer {
      position: fixed;
      bottom: 80px;

      width: 100%;
      /* for demo */
      /* for demo */
    }

    .page-header {
      position: fixed;
      top: 0mm;
      width: 100%;
      border-bottom: 1px solid black; /* for demo */
      background: yellow; /* for demo */
    }

    .page {
      page-break-after: always;
      padding-bottom: 0px;
    }

    @page {
      margin: 0mm;
    }

    @media print {
      thead {
        display: table-header-group;
      }
      tfoot {
        display: table-footer-group;
      }

      button {
        display: none;
      }

      body {
        margin: 0;
      }
    }
    /* Facture Custom styling */
    .pages .heading {
      margin-top: 80px;
      padding-left: 95px;
      padding-right: 95px;
    }

    .facture-number div p:first-child {
      color: #383838;
    }

    .heading .logo {
      border-radius: 0 !important;
     
      background: linear-gradient(90deg, var(--primary-color,#2F8234) 0%, var(--secondary-color,#8BBE23) 99.99%);
      color:  var(--primary-text-color,white);
    }

    .pages .headline {
      padding-top: 30px;
      line-height: 18px;
    }

    .headline p {
     
      font-weight: 400;
    }

    .tabs {
      margin-top: 0px !important;
      padding-top: 39px;
    }

    .tabs-item > div {
      
      border: none;
    }
    .tabs .separator {
      border: none;
    }

    .pages .tabs-item {
      color: #4D4B4C;
      padding-left: 65px;
    }

    .tabs .tabs-header {
     
      font-weight: 400;
      gap: 0;
      padding: 0;
      margin: 0px 56px 0 56px;
      width: 698.6px;
      height: 39px;
      background: linear-gradient(90deg, var(--primary-color,#2F8234) 0%, var(--secondary-color,#8BBE23) 99.99%);
      color:  var(--primary-text-color,white);
    }

    .tabs .tabs-header p:first-child {
      padding-left: 8px;
    }

    .empty-item {
      margin-right: 56px;
      margin-left: 56px;
      border-bottom: 1px solid #4D4B4C;
    }

    .total {
      margin-top: 0 !important;
      padding-top: 23.6px;
      padding-bottom: 10.6px;
    }

    .total .total-amount {
      background: linear-gradient(90deg, var(--primary-color,#2F8234) 0%, var(--secondary-color,#8BBE23) 99.99%);
      color:  var(--primary-text-color,white);
    }
    
    .footer {
      bottom: 0;
      color: #383838;
      
    }

    /* End Facture Custom styling */
  </style>

  <body>
    <!-- footer -->
    <%- include('../subtemplates/footer1') %>
    <table>
      <tbody>
        <tr>
          <td class="pages w-[827px]">

            <div class="flex flex-col w-full page-content">
              <!-- logo + facture -->
              <%- include('../subtemplates/header2') %>
          
              <!-- headline (object, address, client) -->
              <%- include('../subtemplates/headline1') %>

              <!-- table -->
              <%- include('../subtemplates/table1') %>
                
              <!-- facture totals informations -->
              <%- include('../subtemplates/total1') %>


              <!-- signature -->
              <%- include('../subtemplates/sign1') %>

              <!-- footer -->
            </div>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td>
            <!--place holder for the fixed-position footer-->
            <div class="page-footer-space"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
