<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <style>
    :root
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');

    body {
      font-family: 'Poppins', sans-serif;;
    }
    .inter {
      font-family: 'Inter', sans-serif;
    }
    .poppin {
      font-family: 'Poppins', sans-serif;;
    }
    .page-header,
    .page-header-space {
      height: 100px;
    }

    .page-footer,
    .page-footer-space {
      height: 50px;
    }

    .page-footer {
      position: fixed;
      bottom: 80px;

      width: 100%;
      /* for demo */
      /* for demo */
    }

    .page-header {
      position: fixed;
      top: 0mm;
      width: 100%;
      border-bottom: 1px solid black; /* for demo */
      background: yellow; /* for demo */
    }

    .page {
      page-break-after: always;
      padding-bottom: 0px;
    }

    @page {
      margin: 0mm;
    }

    @media print {
      thead {
        display: table-header-group;
      }
      tfoot {
        display: table-footer-group;
      }

      button {
        display: none;
      }

      body {
        margin: 0;
      }
    }
    /* Facture Custom styling */
    @font-face {
      font-family: 'Helvetica Neue';
      src: url('path-to-your-fonts/HelveticaNeue-Bold.woff2') format('woff2'),
          url('path-to-your-fonts/HelveticaNeue-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
    }
    .heading {
      margin-top: 110px;
    }

    .facture-number div p:first-child {
      color: #010101;
    }

    .facture-number {
      border-color: #010101;
    }

    .facture-number .dividor {
      display: block !important;
      width: 40px;
      border-top: 1px solid #010101;
      margin-left: 11px;
      margin-right: 3px;
    }
    .facture-number .dividor2 {
    
      display: block !important;
      width: 63px;
      border-top: 1px solid #010101;
      margin-left: 11px;
      margin-right: 3px;
      
     
    }

    .heading .logo {
      font-family: 'Helvetica Neue', sans-serif;
      background-color: transparent;
      color: #383838;
    }

    .pages .heading .logo p {
      margin-left: 30px;
    }

    .pages .headline {
      margin-top: 40px !important;
    }

    .headline p {
     
      font-weight: 400;
    }

    .pages .tabs {
      margin-top: 35px;
    }

    .tabs-item {
      color: #4D4B4C;
    }

    .tabs-item:first-child p {
      padding-top: 26px;
    }

    .tabs-item:last-child p{
      padding-bottom: 36px;
    }

    .tabs .tabs-header {
      color: #3C3C3B;
      font-weight: 700;
    }

    .tabs .tabs-header p {
      background: transparent;
      padding-bottom: 0;
    }

    .tabs .tabs-header p:first-child {
      padding-left: 0;
      background: transparent;
    }

    .pages .total {
      border-bottom: 1px solid #010101;
      padding-bottom: 25px;
      padding-left: 56px;
    }

     .totalborder {
      
   
    width: 350px;
     bottom: -2px;
     position: absolute;
     right: 45px;
  
     border-bottom: 4px solid var(--primary-color,#1D71B8) ;
    
    }

    .total .right {
      position: relative;
      bottom: -2px;
      gap: 0px !important;
    }
    .total .right >p {
     padding-top: 8px;
    }

    .total .right p:last-child {
    
    }

    .total .total-amount {
      color: #383838;
    }

    .sign {
      font-weight: 700;
    }
    
    .footer {
      bottom: 0;
      color: #383838;
      margin-bottom: 32px;
    }

    .footer-mark {
      width: 325px;
      height: 10px;
      position: absolute;
      bottom: 0;
      right: 0;
      background: var(--primary-color,#1D71B8);
    }

    .footer-img {
      height: 278px;
      width: 278px;
      position: fixed;
      bottom: 0 !important;
      right: -16px;
    }

    /* End Facture Custom styling */
  </style>

  <body>
    <!-- footer -->
    <%- include('../subtemplates/footer2') %>
    <table>
      <tbody>
        <tr>
          <td class="pages w-[827px]">

            <div class="flex flex-col w-full page-content">
              <!-- logo + facture -->
              <%- include('../subtemplates/header4') %>
          
              <!-- headline (object, address, client) -->
              <%- include('../subtemplates/headline1') %>

              <!-- table -->
              <%- include('../subtemplates/table2') %>
                
              <!-- facture totals informations -->
              <%- include('../subtemplates/total2') %>


              <!-- signature -->
              <%- include('../subtemplates/sign1') %>

              <!-- footer -->
            </div>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td>
            <!--place holder for the fixed-position footer-->
            <div class="page-footer-space"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
