<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

  <style>
    :root
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');
  
  body {
    font-family: 'Poppins', sans-serif;;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .poppin {
    font-family: 'Poppins', sans-serif;;
  }
  .page-header,
  .page-header-space {
    height: 100px;
  }
  
  .page-footer,
  .page-footer-space {
    height: 100px;
  }
  
  .page-footer {
    position: fixed;
    height: 80px;
    bottom: 0px;
    
    width: 100%;
    /* for demo */
    /* for demo */
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
    background: yellow; /* for demo */
  }
  
  .page {
    page-break-after: always;
    padding-bottom: 0px;
  }
  
  @page {
    margin: 0mm;
  }
  
  @media print {
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
    
    button {
      display: none;
    }
    
    body {
      margin: 0;
    }
  }
  /* Facture Custom styling */
  /* End Facture Custom styling */
</style>

    <!-- Templates styling -->
  <style>
    .header {
    padding: 0px 55px;
  }
  .date {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #000100;
  }
    .headline-wrapper {
    width: auto;
    margin: 0 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .facture-content .headline-wrapper .facture-number {
    display: none;
  }
    .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;
  }
  .sub-headline {
    flex: 1;
  }
  .sub-headline > div {
    flex: 1;
  }

  .sub-headline > div {
    gap: 16px;
    justify-content: space-between;
  }

  .hidden-subheadline {
    display: none;
  }

  .hidden-subheadline div {
    display: none;
  }

  .sub-headline p {
    max-width: 150px;
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: none;
  }
    .tabs-header {
    gap: 5px;
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 8px;
  }

  .tabs-header p {
    padding-top: 10px; /* /!\ */
    padding-bottom: 10px; /* /!\ */
  }
  
  .facture-content .tabs-header .description {
    padding-left: 10px;
  }

  .tabs-item {
    padding: 0 56px;
  }
  
  .tabs-item p {
    padding-top: 14px; /* /!\ */
    padding-bottom: 14px; /* /!\ */
    padding-left: 5px;
  }

  .tabs-item.empty-item {
    display: none;
  }
  
  /* Show default qty */
  .tabs .quantity {
    display: none;
  }
  
  .tabs .quantity.second {
    display: block;
  }
  
  /* Hide indexs */
  .tab-indexs {
    display: block;
  }

  .tabs .amount {
    padding-left: 0 !important;
  }
    .total {
    color: #4D4B4C;
    margin-top: 23.63px;
    padding-left: 56px;
    padding-right: 56px;
    align-items: flex-start;
    gap: 10px;
  }

  .left {
    max-width: 300px;
  }

  .right, .right > div {
    min-width: 260px;
    gap: 10px;
  }

  .right p {
    padding-left: 6px;
    padding-right: 14px;
  }
  
  .right p span {
    z-index: 2;
  }

  .right .remise {
    padding: 6px 12px 8px 6px;
    border: 1px solid #4D4B4C;
  }

  .right .total-amount {
    background: pink;
    padding: 10px 12px 10px 9px;
  }

  .total-separator {
    height: 1px;
    background: black;
    left: 0;
    right: 0;
  }
    .sign {
    margin-top: 8px;
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .sign > div p {
    width: 130px;
    padding-top: 0;
    padding-bottom: 8px;
    
  }

  .sign > div:last-child {
     /* margin-top: -8px*/
     margin-top: 0;
  }
  /* <!-- addons styling --> */
  .facture-number {
    border: 2px solid var(--primary-color, #4570B4);
    padding: 20px 24px 16px 24px;
  }
  .facture-number > div p {
    font-size: 30px;
    line-height: 24px;
  }  
  .facture-number > div p:first-child {
    font-size: 18px;
  }

  .facture-number .date {
    font-size: 18px;
  }
      /* Pour ajouter du background au tabs items full-width*/
  .tabs-item:nth-child(even) {
    background: transparent;
  }
  
  /* Pour ajouter du background au tabs items not full-widht*/
  .tabs-item:nth-child(even) p {
    background: transparent;
  }
      .total {
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 0px;
  }
  
  .right, .right > div {
    gap: 0;
    width: 100%;
  }
  
  .right p {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .right p:nth-child(even) {
    background: transparent;
  }

  .right p:nth-child(2) {
    padding: 9;
    border-top: transparent;
  }

  .right .remise {
    border: none;
    font-size: 12px;
  }

  .right .total-amount {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .left {
    flex: 1;
    max-width: unset !important;
    margin-top: 20px;
  }
    </style>
<!-- end addons styling -->
<style>
  /* custom styling */
  .header {
    padding-top: 60px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .facture-number {
    margin-top: 20px;
    border-color: var(--primary-color, #4570B4);
  }

  .headline {
    padding-top: 24px;
    margin-left: 14px;
  }

  .tabs {
    padding-top: 20px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .tabs-header {
    border-top: 1px solid #4E4D4D;
    border-bottom: 1px solid #4E4D4D;
    margin-bottom: 16px;
    gap: 0;
  }

  p.description {
    padding-left: 22px !important;
  }

  p.amount {
    padding-right: 22px;
  }


  .tabs-item:nth-child(even) p {
    background:  color-mix(in srgb, var(--primary-color, #C0CCDD) 5%, transparent);
  }

  .empty-item {
    padding-top: 10px;
    margin: 0 60px;
    border-bottom: 1px solid #4E4D4D;
  }

  .total {
    margin-left: 14px;
    margin-right: 14px;
  }

  .right p,
  .right .remise,
  .right .total-amount {
    padding: 12.5px 20px;
  }

  .right p {
    background: color-mix(in srgb, var(--primary-color, #C0CCDD) 35%, transparent);
  }

  .facture-content .total .right p:nth-child(2) {
    border-top: 4px solid var(--primary-color, #C0CCDD);
    padding: 8.5px 20px;
  }

  .facture-content .total .right p:nth-child(even) {
    background: color-mix(in srgb, var(--primary-color, #C0CCDD) 80%, transparent);
  }

  .left, .right {
    color: #000
  }

  .facture-content .total .right .total-amount {
    padding-top: 9px;
    padding-bottom: 9px;
    background: color-mix(in srgb, var(--primary-color, #C0CCDD) 80%, transparent);
  }

  .page-footer {
    height: 80px;
    color: #000;
    bottom: 0px;
    padding-right: 105px !important;
    padding-left: 24px; 
  }
  /* custom end styling */
</style>

<style>
  .header {
    padding-top: 60px;
    margin-left: 14px;
    margin-right: 14px;
  }
  .headline {
    padding-top: 24px;
    margin-left: 14px;
  }
  .tabs {
    padding-top: 20px;
    margin-left: 14px;
    margin-right: 14px;
  }
  .tabs-header {
    gap: 0;
  }
  .empty-item {
    padding-top: 10px;
    margin: 0 60px;
    border-bottom: 1px solid #4E4D4D;
  }

  .total {
    margin-left: 14px;
    margin-right: 14px;
  }
  .page-footer {
    padding-left: 24px;
  }
</style>

<body>
  <!-- footer -->
  <div class="pt-4 page-footer footer">
    <%- include('../subtemplates2b/footer1') %>
    <div class="absolute bottom-[36px] left-[-10px]">
      <svg xmlns="http://www.w3.org/2000/svg" width="80" height="25" viewBox="0 0 50 25" fill="none">
        <path opacity="0.25" d="M49.3639 0.160645H-9.40234V24.2514H49.3639V0.160645Z" fill="var(--primary-color, #3D5E8E)"/>
      </svg>
    </div>
    <div class="absolute bottom-[36px] right-[-40px]">
      <svg xmlns="http://www.w3.org/2000/svg" width="189" height="25" viewBox="0 0 189 25" fill="none">
        <path opacity="0.25" d="M195.036 0.160645H0.794434V24.2514H195.036V0.160645Z" fill="var(--primary-color, #3D5E8E)"/>
      </svg>
    </div>
  </div>
  <table>
    <tbody>
      <tr>
        <td class="pages w-[827px]">
          <main class="<%= 'facture-content flex flex-col w-full page-content ' + (invoiceType == 0 ? 'proforma' : invoiceType == 1 ? 'facture' : invoiceType == 2 ? 'bordereau' : 'facture-content') %>">
            <!-- Header + Facture -->
            <%- include('../subtemplates2b/header/header1') %>
            <!-- Headline -->
<%- include('../subtemplates2b/headline/headline1') %>
            
            <!-- table -->
<%- include('../subtemplates2b/tabs/tab1') %>
            
                        <!-- facture totals informations -->
            <%- include('../subtemplates2b/total/total1') %>

            <!-- signature -->
            <%- include('../subtemplates2b/sign/sign1') %>
          </main>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
