<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

  <style>
    :root
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');
  
  body {
    font-family: 'Poppins', sans-serif;;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .poppin {
    font-family: 'Poppins', sans-serif;;
  }
  .page-header,
  .page-header-space {
    height: 100px;
  }
  
  .page-footer,
  .page-footer-space {
    height: 50px;
  }
  
  .page-footer {
    position: fixed;
    bottom: 80px;
    
    width: 100%;
    /* for demo */
    /* for demo */
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
    background: yellow; /* for demo */
  }
  
  .page {
    page-break-after: always;
    padding-bottom: 0px;
  }
  
  @page {
    margin: 0mm;
  }
  
  @media print {
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
    
    button {
      display: none;
    }
    
    body {
      margin: 0;
    }
  }
  /* Facture Custom styling */
  
  /* End Facture Custom styling */
</style>

    <!-- Templates styling -->
  <style>
    .header {
    padding: 0px 55px;
  }
  .date {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #000100;
  }
    .headline-wrapper {
    width: auto;
    margin: 0 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .facture-content .headline-wrapper .facture-number {
    display: none;
  }
    .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;
  }
  .sub-headline {
    flex: 1;
  }
  .sub-headline > div {
    flex: 1;
  }

  .sub-headline > div {
    gap: 16px;
    justify-content: space-between;
  }

  .hidden-subheadline {
    display: none;
  }

  .hidden-subheadline div {
    display: none;
  }

  .sub-headline p {
    max-width: 150px;
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: none;
  }
    .tabs-header {
    gap: 5px;
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 8px;
  }

  .tabs-header p {
    padding-top: 10px; /* /!\ */
    padding-bottom: 10px; /* /!\ */
  }
  
  .facture-content .tabs-header .description {
    padding-left: 10px;
  }

  .tabs-item {
    padding: 0 56px;
  }
  
  .tabs-item p {
    padding-top: 14px; /* /!\ */
    padding-bottom: 14px; /* /!\ */
    padding-left: 5px;
  }

  .tabs-item.empty-item {
    display: none;
  }
  
  /* Show default qty */
  .tabs .quantity {
    display: none;
  }
  
  .tabs .quantity.second {
    display: block;
  }
  
  /* Hide indexs */
  .tab-indexs {
    display: block;
  }

  .tabs .amount {
    padding-left: 0 !important;
  }
    .total {
    color: #4D4B4C;
    margin-top: 23.63px;
    padding-left: 56px;
    padding-right: 56px;
    align-items: flex-start;
    gap: 10px;
  }

  .left {
    max-width: 300px;
  }

  .right, .right > div {
    min-width: 260px;
    gap: 10px;
  }

  .right p {
    padding-left: 6px;
    padding-right: 14px;
  }
  
  .right p span {
    z-index: 2;
  }

  .right .remise {
    padding: 6px 12px 8px 6px;
    border: 1px solid #4D4B4C;
  }

  .right .total-amount {
    background: pink;
    padding: 10px 12px 10px 9px;
  }

  .total-separator {
    height: 1px;
    background: black;
    left: 0;
    right: 0;
  }
    .sign {
    margin-top: 8px;
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .sign > div p {
    width: 130px;
    padding-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #4E4D4D;
  }

  .sign > div:last-child {
     /* margin-top: -8px*/
     margin-top: 0;
  }
  /* <!-- addons styling --> */
      .facture-number {
    display: flex;
    flex-direction: column;
  }

  .facture-number > div {
    display: flex;
    font-size: 14px;
  }
  
  .facture-number > div p:last-child {
    padding-left: 6px;
    padding-top: 0;
  }

  .date {
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
    border: none;
    line-height: 12px;
    text-transform: uppercase;
  }

  .facture-content .facture-number p,
  .facture-content .facture-number > div p:last-child {
    padding-top: 0;
    font-size: 14px;
  }
      .headline-wrapper {
    border: 1px solid #000;
    border-top: 9px solid #000;
    align-items: center;
    width: auto;
    padding: 0;
    margin: 30px 55px;;
  }

  .headline-wrapper .facture-number {
    display: block;
  }
  
  .headline {
    padding: 27px 24px;
  }

  .headline-wrapper .facture-number {
    justify-self: end;
    align-self: end;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    padding: 14px 24px;
  }
      .tabs {
    position: relative;
  }
  .tabs .tab-dummy:first-child {
    height: 40px;
    width: 100%;
    /* background: rgb(80, 194, 209); */
    background: linear-gradient(90deg, 
    #1f5a4a 51%, #0d0a7f 51.1% ,  color-mix(in srgb, var(--primary-color,#0d0a7f) 100%, transparent));
    z-index: -2;
    top: 0;
  }
    .tabs-item p {
    border-bottom: 1px solid #A6A5A3 /*rgba(29, 29, 29, 0.2)*/;
  }
      .tabs .quantity.second, 
  .tabs .quantity.third {
    display: none;
  }

  .tabs .quantity.first {
    display: block;
    width: 80px;
  }
    </style>
<!-- end addons styling -->
<style>
  /* custom styling */

  .header {
    padding-top: 30px;
    flex-direction: row-reverse;
  }
  .header .heading-info {
    padding-top: 30px;
    padding-right: 0;
    padding-left: 0;
    flex: 1;
    color: var(--primary-text-color, white);
  }

  .header .logo img {
    object-position: right;
  }

  .headline-wrapper {
    border: 1px solid var(--primary-text-color, white);
    color: var(--primary-text-color, white);
  }
  .headline-wrapper .facture-number {
    display: block !important;
    color: var(--primary-text-color, white);
    border-color: var(--primary-text-color, white) !important;
  }

  .tabs-header {
    color: var(--primary-text-color, white);
    font-weight: 600;
  }

  .total {
    margin-top: 70px;
    padding-bottom: 35px;
  }

  .right .total-amount {
    color: var(--primary-text-color, white);
    background: var(--primary-color, #222428) !important;
  }

  .sign {
    margin: 0 56px;
    padding: 24px 44px 12px 44px;
    border-top: 1px solid #222428;
  }

  .sign p {
    border: none !important;
  }

  .empty-bg {
    background: color-mix(in srgb, var(--primary-color, #222428) 100%, transparent);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 370px;
    z-index: -1;
  }

  /* custom end styling */
</style>

<body>
  <!-- footer -->
  <div class="pt-4 page-footer footer">
  </div>
  <table>
    <tbody>
      <tr>
        <td class="pages w-[827px]">
          <main class="<%= 'facture-content flex flex-col w-full page-content ' + (invoiceType == 0 ? 'proforma' : invoiceType == 1 ? 'facture' : invoiceType == 2 ? 'bordereau' : 'facture-content') %>">
            <div class="empty-bg"></div>
            <!-- Header + Facture -->
            <%- include('../subtemplates2b/header/header2') %>
            
            <!-- Headline -->
            <%- include('../subtemplates2b/headline/headline1') %>
            
            <!-- table -->
            <%- include('../subtemplates2b/tabs/tab1') %>
            
            <!-- facture totals informations -->
            <%- include('../subtemplates2b/total/total1') %>

            <!-- signature -->
            <%- include('../subtemplates2b/sign/sign1') %>
            
          </main>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
