<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

  <style>
    :root
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');
  
  body {
    font-family: 'Poppins', sans-serif;;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .poppin {
    font-family: 'Poppins', sans-serif;;
  }
  .page-header,
  .page-header-space {
    height: 100px;
  }
  
  .page-footer,
  .page-footer-space {
    height: 80px;
  }
  
  .page-footer {
    position: fixed;
    bottom: 80px;
    
    width: 100%;
    /* for demo */
    /* for demo */
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
    background: yellow; /* for demo */
  }
  
  .page {
    page-break-after: always;
    padding-bottom: 0px;
  }
  
  @page {
    margin: 0mm;
  }
  
  @media print {
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
    
    button {
      display: none;
    }
    
    body {
      margin: 0;
    }
  }
  /* Facture Custom styling */

  /* End Facture Custom styling */
</style>

    <!-- Templates styling -->
  <style>
    .header {
    padding: 0px 55px;
  }
  .date {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #000100;
  }
    .headline-wrapper {
    
    
    margin: 0 55px;
    margin-right: 10px !important;
    padding-top: 10px;
    padding-bottom: 10px; 
 
    width: 400px;
    max-width: 400px;
  }

  .facture-content .headline-wrapper .facture-number {
    display: none;
  }
    .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;
  }
  .sub-headline {
    flex: 1;
  }
  .sub-headline > div {
    flex: 1;
  }

  .sub-headline > div {
    gap: 16px;
    justify-content: space-between;
  }

  .hidden-subheadline {
    display: none;
  }

  .hidden-subheadline div {
    display: none;
  }

  .sub-headline p {
    max-width: 150px;
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: none;
  }
    .tabs-header {
    gap: 5px;
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 8px;
  }

  .tabs-header p {
    padding-top: 10px; /* /!\ */
    padding-bottom: 2px; /* /!\ */
  }
  
  .facture-content .tabs-header .description {
    padding-left: 10px;
    width: 365px!;
  }

  .tabs-item {
    padding: 0 56px;
  }
  
  .tabs-item p {
    padding-top: 14px; /* /!\ */
    padding-bottom: 14px; /* /!\ */
    padding-left: 5px;
  }

  .tabs-item.empty-item {
    display: none;
  }
  
  /* Show default qty */
  .tabs .quantity {
    display: none;
  }
  
  .tabs .quantity.second {
    display: block;
  }
  
  /* Hide indexs */
  .tab-indexs {
    display: block;
  }

  .tabs .amount {
    padding-left: 0 !important;
  }
    .total {
    color: #4D4B4C;
    margin-top: 23.63px;
    padding-left: 56px;
    padding-right: 56px;
    align-items: flex-start;
    gap: 10px;
  }

  .left {
    max-width: 300px;
  }

  .right, .right > div {
    min-width: 260px;
    gap: 10px;
  }

  .right p {
    padding-left: 6px;
    padding-right: 14px;
  }
  
  .right p span {
    z-index: 2;
  }

  .right .remise {
    padding: 6px 12px 8px 6px;
    border: 1px solid #4D4B4C;
  }

  .right .total-amount {
    background: pink;
    padding: 10px 12px 10px 9px;
  }

  .total-separator {
    height: 1px;
    background: black;
    left: 0;
    right: 0;
  }
    .sign {
    margin-top: 8px;
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .sign > div p {
    width: 130px;
    padding-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #4E4D4D;
  }

  .sign > div:last-child {
     /* margin-top: -8px*/
     margin-top: 0;
  }
  /* <!-- addons styling --> */
    .header .facture-number {
    display: flex;
    flex-direction: column;
  }
  .facture-number > div {
    display: flex;
    text-align: center;
    align-self: center;
    gap: 10px;
  }

  .facture-number .date {
    flex: 1;
    text-align: center;
    border-color: #4D4B4C;
  }

  .headline-wrapper {
    margin-top: 10px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    .tabs {
    position: relative;
  }
  .tabs .tab-dummy:first-child {
    height: 40px;
    width: 100%;
    /* background: rgb(80, 194, 209); */
    background: linear-gradient(90deg, 
    #1f5a4a 51%, #0d0a7f 51.1% ,  color-mix(in srgb, var(--primary-color,#0d0a7f) 100%, transparent));
    z-index: -2;
    top: 0;
  }
    .header {
    flex-direction: row-reverse;
  }

  .header > .facture-number {
    align-items: flex-start;
    text-align: start;
  }

  .header > div{
    width: 300px !important;
  }

  .header .headline-wrapper {
    align-items: flex-start;
    text-align: start;
  } 

  .facture-number > div {
    text-align: start;
    align-self: flex-start;
  }

  .headline-wrapper {
    margin-left: 0;
  }

  .headline p {
    padding-left: 0 !important;
  }

  .facture-number .date {
    width: 100%;
    text-align: start;
  }
      .total {
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 0px;
  }
  
  .right, .right > div {
    gap: 0;
    width: 100%;
  }
  
  .right p {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .right p:nth-child(even) {
    background: transparent;
  }

  .right p:nth-child(2) {
    padding: 9;
    border-top: transparent;
  }

  .right .remise {
    border: none;
    font-size: 12px;
  }

  .right .total-amount {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .left {
    flex: 1;
    max-width: unset !important;
    margin-top: 20px;
  }
      .right {
    position: relative;
    padding-bottom: 40px;
    flex-wrap: wrap;
  }
  
  .right, .right div {
    gap: 0;
  }

  .right p {
    width: 40%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 11px;
    background: transparent;
  }

  .right .remise {
    padding-right: 6px;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }

  .right .remise span:first-child {
    padding-bottom: 8px;
  }

  .right p:nth-child(even) {
    background: transparent;
  }

  .right p.total-amount {
    padding-left: 11px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    width: auto;
    border-bottom: none;
    background: pink;
  }

  .empty-total-amount {
    height: 34px;
    width: 150px;
    top: 0;
    bottom: 0;
    left: 100px;
    z-index: -1;
  }

  .left {
    padding: 24px 54px;
  }

  .right p,
  .right .remise span {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .facture-content .right .remise {
    margin-top: 0;
    padding-top: 0;
    padding-right: 20px;
  }

  .facture-content .right .remise span {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0;
  }

      .tabs .quantity.second, 
  .tabs .quantity.first {
    display: none;
  }

  .tabs .quantity.third {
    display: block;
  }
    </style>
<!-- end addons styling -->
<style>
  /* custom styling */
  .header {
    padding-top: 38px;
  }

  .logo img {
    object-position: right;
  }

  .header .facture-number > div:first-child {
    font-size: 18px;
    color: var(--primary-text-color, #662483);
  }

  .tabs {
    margin-top: 27px;
  }

  .tab-dummy:first-child {
    z-index: -1;
    background: linear-gradient(90deg, color-mix(in srgb, var(--primary-color,#662483) 100%, transparent) 51%,color-mix(in srgb, var(--primary-color,#000) 100%, transparent) 51.1% ,  color-mix(in srgb, var(--primary-color,#000) 100%, transparent)) !important;
  }

  .tabs-header {
    color: var(--primary-text-color, white);
    margin-bottom: 36px;
    gap: 0;
  }

  .tabs-item p {
    border-bottom: 1px solid #4D4B4C;
  }

  .total {
    padding-top: 40px;
  }

  .right .total-amount {
    color: var(--primary-text-color, white);
    background: var(--primary-color, #662483) !important;
  }

  .left {
    margin-top: 0;
    text-align: center;
    padding-bottom: 0;
    background: #EFEFEF;
    padding: 11px 44px 8px 44px;
    color: #000;
  }

  .sign {
    padding-top: 12px;
  }

  .page-footer {
    height: 70px;
    bottom: 0px;
    padding-top: 10px;
    border-top: 1px solid #4D4B4C;
    text-align: center;
    color: #000;
  }
  /* custom end styling */
</style>

<body>
  <!-- footer -->
  <div class="page-footer footer">
    <%- include('../subtemplates2b/footer1') %>
  </div>
  <table>
    <tbody>
      <tr>
        <td class="pages w-[827px]">
          <main class="<%= 'facture-content flex flex-col w-full page-content ' + (invoiceType == 0 ? 'proforma' : invoiceType == 1 ? 'facture' : invoiceType == 2 ? 'bordereau' : 'facture-content') %>">
         
         <div class="h-8"></div>
            <!-- Header + Facture -->
            <%- include('../subtemplates2b/headerheadline/headerheadline2') %>
            
            <!-- table -->
<%- include('../subtemplates2b/tabs/tab1w365') %>
            
                        <!-- facture totals informations -->
            <%- include('../subtemplates2b/total/total1b') %>

            <!-- signature -->
            <%- include('../subtemplates2b/sign/sign1') %>
           
          </main>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
