<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <style>
    :root
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');

    body {
      font-family: 'Poppins', sans-serif;;
    }
    .inter {
      font-family: 'Inter', sans-serif;
    }
    .poppin {
      font-family: 'Poppins', sans-serif;;
    }
    .page-header,
    .page-header-space {
      height: 30px;
    }

    .page-footer,
    .page-footer-space {
      height: 10px;
    }

    .page-footer {
      position: fixed;
      bottom: 10px;

      width: 100%;
      /* for demo */
      /* for demo */
    }    
    .page-header {
      position: fixed;
      top: 0mm;
      width: 100%;
      border-bottom: 1px solid black; /* for demo */
      background: yellow; /* for demo */
    }

    .page {
      page-break-after: always;
      padding-bottom: 0px;
    }

    @page {
      margin: 0mm;
      margin-bottom: 30px;
    }

    @media print {
      thead {
        display: table-header-group;
      }
      tfoot {
        display: table-footer-group;
      }

      button {
        display: none;
      }

      body {
        margin: 0;
      }
    }
    /* Facture Custom styling */
    @font-face {
      font-family: 'Helvetica Neue';
      src: url('path-to-your-fonts/HelveticaNeue-Bold.woff2') format('woff2'),
          url('path-to-your-fonts/HelveticaNeue-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
    }

    .heading {
      margin-top: 55.6px;
      flex-direction: column;
      justify-content: space-between;
  
     
    }
    .heading img {
     margin-top: 0px !important;
     margin-bottom: 10px !important;
      color: #383838;
      object-position: center;
      
      padding-right: 10px !important;
      
      
    }

    .heading > div   {
   flex-direction: column;
     
      align-items: center !important;
    position: relative;
    padding-bottom: 10px !important; 
    }
   

   
    .heading > div > p  {
   
      
      color: #383838;
      text-align: center;
       flex: 1;
       
       padding-left: 120px !important ;
       padding-right:120px !important  ;
        
      height: 100% !important; 
    padding-bottom: 10px !important;
    
    
      
    }
    .pages .facture-number {
      width: auto !important;
       
      justify-self: flex-start;
      padding-right: 0 !important;
      border-left: 60px solid var(--primary-color,#005374);
      border-right: 4px solid var(--primary-color,#005374);
      height: 100%;
      
      padding-right: 10px !important;
      
      padding-left: 10px !important;
      margin-right: 10px !important;
      margin-left: 0px !important;

    
   
      
    }
    .pages .facture-number > div p    {
      
     font-size: 18px;
    
    
    }

    .pages .facture-number > div {
      
     
      
     
    }

    .facture-number > div p:first-child {
      color: #010101;
    }
    .facture-number .dividor {
      display: block !important;
     flex: 1;
      border-top: 1px solid var(--primary-text-color,white) !important;
      margin-left: 11px;
      margin-right: 3px;
    }
    .facture-number .dividor2 {
    
      display: block !important;
      flex: 1;
      border-top: 1px solid var(--primary-text-color,white) !important;
      margin-left: 11px;
      margin-right: 3px;
      
     
    }


    .heading .logo {
      font-family: 'Helvetica Neue', sans-serif;
      background:  var(--primary-color,#383838);
      color: var(--primary-text-color,white);
    }

    .headline {
      margin-top: 40.5px !important;
      margin-bottom: 20.5px !important;
      padding-top: 0px;
      justify-content: space-between;
      
      padding-left: 0px !important;
      display: flex;
    }

    .headline p { 
      font-weight: 400;
    }
    .headline > div { 
    padding-left: 15px;
    }

    .tabs {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
     
    }

    .tabs-item {
      color: #4D4B4C;

    }

    .tabs .tabs-header {
     margin-top: 0px !important;
   
     padding-bottom: 5px !important;
    
      
       
    }
    .tabs .tabs-header p {
     
      background-color:#CFCFCF;
      color:  #000;
   padding-top: 10px !important;
      
   padding-top: 6px !important;
   height: 35px !important;
   font-weight: 100;
      
       
    }


    .tabs-item  p {
  
        
       padding-top: 0px !important;
  
      }
  
     

    .tabs-item :last-child {
  
    justify-content: flex-end !important;
    align-items: start;

    }

    .total   {
      padding: 30px 30px !important;
      margin: 0px 56px !important;
     
     
    }
    .total-separator{
      display: none !important;
      opacity: 0.2;
      margin-left: 56px  !important;
      margin-right: 56px  !important;
    }

    .total .total-amount {
      background:  var(--primary-color,#005374);
      color: var(--primary-text-color,white);
      height: 32px !important;
      
      display: flex; 
      justify-items: center;
      align-items: center;
    }

    .signature {
      margin-top: 0px !important;
      margin: 0px 56px !important;
      padding: 0px 30px !important;
      padding-top: 20px !important;
      padding-bottom: 60px !important;
     
      padding-left: 60px !important;
     
    }

    .info-project{
      border-left: 2px solid var(--primary-color,#005374);
      padding-left: 10px;
      padding-right: 10px;
       
    }
    
    .sign {
      font-weight: 700;
    }
    
    .footer {
      height: 10px;
      background: var(--primary-color,#005374);
      color:  transparent;
      bottom: 0;
      margin-bottom: 0px;
    }

    .footer div {
       
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    /* End Facture Custom styling */
  </style>

  <body>
    <!-- footer -->
    <%- include('../subtemplates/footer1') %>
    <table>
      <tbody>
        <tr>
          <td class="pages w-[827px]">

            <div class="flex flex-col w-full page-content">
              <!-- logo + facture -->
              <%- include('../subtemplates/header5') %>
          
              <!-- headline (object, address, client) -->
              <div class="headline inter -leading-2 font-light   text-[16.4px] pr-14">
 
                <div class="facture-number  font-light text-[20px] inter ">
                  <div class="leading-[20px] mb-1">
                    <% if(invoiceType == 0) { %>
                      <p>PROFORMA</p>
                    <% } %>
                    <% if(invoiceType == 1) { %>
                      <p>FACTURE</p>
                    <% } %>
                    <% if(invoiceType == 2) { %>
                      <p >BORDEREAU</p>
                    <% } %> 
                    <p >N°: <span><%=project.invoiceNumber.toString().padStart(5, '0')%></span> </p>
                  </div>

                  <div class="w-full bg-[#4D4B4C] h-[1px]   "></div>
                  <% if(invoiceType == 0) { %>
                  
                    <p class="    font-light  text-[17px] flex justify-between"><%=date%></p>
                  <% } %> 
                  <% if(invoiceType == 1) { %>
                  
                    <p class="    font-light  text-[17px] flex justify-between"><%=date%></p>
                  <% } %> 
                  <% if(invoiceType == 2) { %>
                  
                    <p class="    font-light  text-[17px] flex justify-between"><%=date%></p>
                  <% } %> 

                </div>
                <div class="grid items-start grid-cols-3 text-[15px] leading-[18px] flex-1 ">
              
                  <p class="info-project" >Objet :   <br><%= project.name %></p>
                  <p class="info-project" >Client : <br> <%=  customer.name %></p>
                  <p class="info-project" >Adresse : <br> <%=  customer.address %>  </p>
                </div>
              
              
              </div>
              
              
              
              
               
             

              <!-- table -->
              <%- include('../subtemplates/table3') %>
                
              <!-- facture totals informations -->
              <%- include('../subtemplates/total1') %>
              <% if(invoiceType == 2) { %>
             
                <div class="h-5"></div>
              <% } %>
              <!-- signature -->
              <%- include('../subtemplates/sign1') %>

              <!-- footer -->
            </div>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td>
            <!--place holder for the fixed-position footer-->
            <div class="page-footer-space"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>



