<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <style>
    :root
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');

    body {
      font-family: 'Poppins', sans-serif;;
    }
    .inter {
      font-family: 'Inter', sans-serif;
    }
    .poppin {
      font-family: 'Poppins', sans-serif;;
    }
    .page-header,
    .page-header-space {
      height: 100px;
    }

    .page-footer,
    .page-footer-space {
      height: 80px;
    }

    .page-footer {
      position: fixed;
      bottom: 80px;

      width: 100%;
      /* for demo */
      /* for demo */
    }

    .page-header {
      position: fixed;
      top: 0mm;
      width: 100%;
      border-bottom: 1px solid black; /* for demo */
      background: yellow; /* for demo */
    }

    .page {
      page-break-after: always;
      padding-bottom: 0px;
    }

    @page {
      margin: 0mm;
    }

    @media print {
      thead {
        display: table-header-group;
      }
      tfoot {
        display: table-footer-group;
      }

      button {
        display: none;
      }

      body {
        margin: 0;
      }
    }
    /* Facture Custom styling */
    @font-face {
      font-family: 'Helvetica Neue';
      src: url('path-to-your-fonts/HelveticaNeue-Bold.woff2') format('woff2'),
          url('path-to-your-fonts/HelveticaNeue-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
    }

    .facture-number {
margin-right: 39px !important;
scale: 1.1;
    }
    .facture-number::before {
content: "demo";
position: absolute;
top: -52px;
right: 0;
left: 0;
background-color: white;
 
    }

      
    .pages .facture-number > div p    {
      
     
    
    }

    .pages .facture-number > div {
      
     
      
     
    }


    .primary-border {
      border-color: var(--primary-text-color,white);
    }

    .facture-number > div p:first-child {
      color: var(--primary-text-color,white);
    }
    .facture-number .dividor {
      display: block !important;
     flex: 1;
      border-top: 1px solid var(--primary-text-color,white) !important;
      margin-left: 11px;
      margin-right: 3px;
    }
    .facture-number .dividor2 {
    
      display: block !important;
      flex: 1;
      border-top: 1px solid var(--primary-text-color,white) !important;
      margin-left: 11px;
      margin-right: 3px;
      
     
    }

    .heading{
      background-color: var(--primary-color,#D24635);
      color: var(--primary-text-color,#fff);
    }
    .bg-primary{
      background-color: var(--primary-color,#D24635);
      color: var(--primary-text-color,#fff);
    }

    .heading .logo {
      font-family: 'Helvetica Neue', sans-serif;
      background:  var(--primary-color,#383838);
      color: var(--primary-text-color,white);
    }

     

    .tabs {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
     
    }

    .tabs-item {
      color: #4D4B4C;

    }

    .tabs .tabs-header {
     margin-top: 0px !important;
   
     padding-bottom: 5px !important;
     
    
      
       
    }
    .tabs .tabs-header p {
     
      background-color: var(--primary-color,#D24635);
      color: var(--primary-text-color,#fff);
   padding-top: 8px !important;
   height: 35px !important;
   font-weight: 100;
      
      
       
    }


    .tabs-item  p {
  
        
       padding-top: 0px !important;
  
      }
  
     

    .tabs-item :last-child {
  
    justify-content: flex-end !important;
    align-items: start;

    }

    .total   {
      padding: 30px 30px !important;
      margin: 0px 56px !important;
     
     
    }
    .total-separator{
      display: block !important;
      opacity: 0.2;
      margin-left: 56px  !important;
      margin-right: 56px  !important;
    }

    .total .total-amount {
      background:  var(--primary-color,#D24635);
      color: var(--primary-text-color,white);
      height: 32px !important;
      
      display: flex; 
      justify-items: center;
      align-items: center;
    }

    .signature {
      margin-top: 0px !important;
      margin: 0px 56px !important;
      padding: 0px 30px !important;
      padding-top: 20px !important;
      padding-bottom: 60px !important;
     
      padding-left: 60px !important;
     
    }
    
    .sign {
      font-weight: 700;
    }
    
    .footer {
       
      
      color: black;
      bottom: 0;
    }

    .footer div {
       
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    /* End Facture Custom styling */
  </style>

  <body>
    <!-- footer -->
    <div class="bottom-0 items-center justify-center py-2 pt-2 footer page-footer inter">
  
      <p class="text-[11px] px-[57px]  pt-2 text-center line-clamp-4">
      
    
          <%= enterprise.name %> - notre adresse <%= enterprise.address %> - Rccm :  <%= enterprise.rccm %> - Email :  <%= enterprise.email %> - Compte Bank :  <%= enterprise.bankNumber %> - Tél : +<%= JSON.parse(enterprise.numbers)[0].indicatif %><%= JSON.parse(enterprise.numbers)[0].number %> / +<%= JSON.parse(enterprise.numbers)[1]?.indicatif %><%= JSON.parse(enterprise.numbers)[1]?.number %> - <%= JSON.parse(enterprise.nif)[0].content %> <%= JSON.parse(enterprise.nif)[1]?.content %>
      
      </p>
      <div class="h-4 absolute bottom-0 right-0 left-0  w-[70%] mx-auto bg-black"></div>
    </div>
    
    
    <table>
      <tbody>
        <tr>
          <td class="pages w-[827px]">

            <div class="flex flex-col w-full page-content">
                <!-- logo + facture -->
                <header class="flex justify-between py-6 heading p-14">
 
                  <div class="max-h-[120px] flex object-left object-contain h-[100px] max-w-[400px] w-[400px]  ">
                    <img class=" max-h-[120px] object-left object-contain h-[120px] max-w-[400px] w-[400px] " src="<%=logo%>" alt="" srcset="">
                    
                                  </div>
                               
                                  <div class="facture-number relative my-[15px] font-light text-[23px] inter ">
                                    <div class="leading-[24px] mb-1">
                                      <% if(invoiceType == 0) { %>
                                        <p>PROFORMA</p>
                                      <% } %>
                                      <% if(invoiceType == 1) { %>
                                        <p>FACTURE</p>
                                      <% } %>
                                      <% if(invoiceType == 2) { %>
                                        <p >BORDEREAU</p>
                                      <% } %> 
                                      <p >N°: <span><%=project.invoiceNumber.toString().padStart(5, '0')%></span> </p>
                                    </div>
                
                                    
                                    <% if(invoiceType == 0) { %>
                                    
                                      <p class="pt-2 mt-2  border-t-[1px] font-light primary-border text-[14px] flex justify-between">Date: <%=date%></p>
                                    <% } %> 
                                    <% if(invoiceType == 1) { %>
                                    
                                      <p class="pt-2 mt-2  border-t-[1px] font-light primary-border text-[14px] flex justify-between">Date: <%=date%></p>
                                    <% } %> 
                                    <% if(invoiceType == 2) { %>
                                    
                                      <p class="pt-2 mt-2  border-t-[1px] font-light primary-border text-[14px] flex justify-between">Date: <%=date%></p>
                                    <% } %> 
                
                                  </div>
                </header>
                
                
                
                 
                
                 
          
                <!-- headline (object, address, client) -->
                <div class="headline inter leading-5 font-light py-6 bg-black/5 text-[16.4px] px-14">
                  <p>Objet: <%= project.name %></p>
                  <p>Client: <%=  customer.name %></p>
                  <p>Adresse: <%=  customer.address %></p>
                </div>
                <div class="h-1 bg-primary w-[130px] mb-10 self-end mr-[80px] "></div>
                
                
                
                
                 
             

              <!-- table -->
              <%- include('../subtemplates/table3') %>
                
              <!-- facture totals informations -->
              <%- include('../subtemplates/total1') %>

              
              <% if(invoiceType == 2) { %>
             
                <div class="h-5"></div>
              <% } %>
              <!-- signature -->
              <%- include('../subtemplates/sign1') %>

              <!-- footer -->
            </div>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td>
            <!--place holder for the fixed-position footer-->
         <div class="page-footer-space"></div> 
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
