<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <style>
    :root
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');

    body {
      font-family: 'Poppins', sans-serif;;
    }
    .inter {
      font-family: 'Inter', sans-serif;
    }
    .poppin {
      font-family: 'Poppins', sans-serif;;
    }
    .page-header,
    .page-header-space {
      height: 100px;
    }

    .page-footer,
    .page-footer-space {
      height: 80px;
    }

    .page-footer {
      position: fixed;
      bottom: 80px;

      width: 100%;
      /* for demo */
      /* for demo */
    }

    .page-header {
      position: fixed;
      top: 0mm;
      width: 100%;
      border-bottom: 1px solid black; /* for demo */
      background: yellow; /* for demo */
    }

    .page {
      page-break-after: always;
      padding-bottom: 0px;
    }

    @page {
      margin: 0mm;
    }

    @media print {
      thead {
        display: table-header-group;
      }
      tfoot {
        display: table-footer-group;
      }

      button {
        display: none;
      }

      body {
        margin: 0;
      }
    }
    /* Facture Custom styling */
    @font-face {
      font-family: 'Helvetica Neue';
      src: url('path-to-your-fonts/HelveticaNeue-Bold.woff2') format('woff2'),
          url('path-to-your-fonts/HelveticaNeue-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
    }

    .heading {
      margin-top: 55.6px;
      flex-direction: column;
      
      
    }
    .heading img {
     
      color: #007083;
      object-position: right;
      padding: 5px !important;
      
    }
     

    
    

    .heading .logo {
      font-family: 'Helvetica Neue', sans-serif;
      background:  var(--primary-color,#007083);
      color: var(--primary-text-color,white);
    }
 

    .tabs {
      margin-top: 10px;
     
    }

    .tabs-item {
      color: #4D4B4C;
      
    }

    .tabs-item * {
    
      border: none !important;
    }

    .tabs .tabs-header p {
      color: var(--primary-text-color,white);

      padding-top: 10px !important;
      
      padding-top: 7px !important;
      height: 35px !important;
      font-weight: 100;
      font-size: 14px;
   
       
    }

   
    .tabs .tabs-header {
      font-weight: bold;
      background:  var(--primary-color,#007083);
      color: var(--primary-text-color,white);
      width: auto !important;
      gap: 0;
      color: #3C3C3B;
     margin: 0px 52px !important;
     padding: 0px 5px !important;
     margin-bottom: 30px !important;
     border-radius: 100px !important;
    }
   

    

    

     .tabs > .tabs-item:nth-child(even) {
      
      background: color-mix(in srgb, #E9E9E9 100%, transparent);
    
      margin: 0px 56px !important;
      padding: 0px !important;

    }

    .tabs-item  p:first-child {
   
      padding-left: 15px !important;
     
    }


    
.facture-number-primary {
  background:  var(--primary-color,#007083);
  color: var(--primary-text-color,white);
}
.facture-number-secondary {
  background:  var(--secondary-color,#CCD55F); 
}
    
.border-primary {
  
  border-color: var(--primary-color,#007083);
}
.date-border {
  
  border-color: var(--primary-text-color,white);
}
    .total .total-amount {
      background:  var(--primary-color,#007083);
      color: var(--primary-text-color,white);
      border-radius: 100px !important;

      height: 32px !important;
      
      display: flex; 
      justify-items: center;
      align-items: center;
    }
    .remise {
      
      border-radius: 100px !important;
    }


    .signature {
      margin-top: 0px !important;
     
    }
    
    .sign {
      font-weight: 700;
    }
    .separator {
      
      background: black;
     height: 1px;
      margin: 0px 56px !important;
      padding: 0px !important;

    }
    .footer {
      bottom: 0;
      
      z-index: 1;
     
      padding-top: 0 !important;
      
      color: black;
    }

    .footer div {
       
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    /* End Facture Custom styling */
  </style>

  <body>
    <!-- footer -->
     
    <div class="bottom-0 items-center justify-center py-2 pt-2 footer page-footer inter">
    
    
   
      <div class="border-t-[1px] border-black w-[699px] mx-auto "></div>
      <p class="text-[11px] px-[57px]  pt-3 text-center line-clamp-4">
      
    
          <%= enterprise.name %> - notre adresse <%= enterprise.address %> - Rccm :  <%= enterprise.rccm %> - Email :  <%= enterprise.email %> - Compte Bank :  <%= enterprise.bankNumber %> - Tél : +<%= JSON.parse(enterprise.numbers)[0].indicatif %><%= JSON.parse(enterprise.numbers)[0].number %> / +<%= JSON.parse(enterprise.numbers)[1]?.indicatif %><%= JSON.parse(enterprise.numbers)[1]?.number %> - <%= JSON.parse(enterprise.nif)[0].content %> <%= JSON.parse(enterprise.nif)[1]?.content %>
      
      </p>
    </div>
    
    
    <table>
      <tbody>
        <tr>
          <td class="pages w-[827px]">

            <div class="flex flex-col w-full page-content">
              <!-- logo + facture -->
             
          
              <!-- headline (object, address, client) -->
              <div class="flex justify-between bg-black/5">
                <div class="headline-wrapper text-[#4D4C4C] mt-[0px] pl-[76px] flex justify-between items-end">
                  <div class="headline flex-1 mt-[50.91px] pb-[37.12px]  flex flex-col gap-4  text-[16.4px]     leading-5 font-light inter">
                    <p>Objet: <br> <%= project.name %></p>
                    <p>Client: <br> <%=  customer.name %></p>
                    <p>Adresse: <br> <%=  customer.address %></p>
                  </div>
                  
                </div>
                <!--  -->
                <header class="heading flex justify-between mt-[28px] px-[56px] pr-[80px]">
                
                  <div class="max-h-[120px] flex object-left object-contain h-[120px] max-w-[300px] w-[300px]  ">
                    <img class=" max-h-[120px] object-left object-contain h-[120px] max-w-[300px] w-[300px] " src="<%=logo%>" alt="" srcset="">
                    
                                  </div>
  
                                  <div class="w-[144px] self-end h-[130px] my-auto  facture-number-primary relative flex justify-center items-center">
                                  
                                    <div class="text-[23.5px]  flex flex-col">
                                      <div class="mb-1 leading-6 ">
                                        <% if(invoiceType == 0) { %>
                                          <p class="text-[18px]">PROFORMA</p>
                                        <% } %>
                                        <% if(invoiceType == 1) { %>
                                          <p>FACTURE</p>
                                        <% } %>
                                        <% if(invoiceType == 2) { %>
                                          <p  class="text-[18px]" >BORDEREAU</p>
                                        <% } %> 
                                        <p>N°: <span><%=project.invoiceNumber.toString().padStart(5, '0')%></span></p>
                                      </div>
                                      <p class="pt-1 border-t-[1px] date-border text-[13.4px]">Date : <%=date%> </p>
                                    </div>
                                    
                                  </div>
             
                </header> 
              </div>
              <div class="  w-[144px] self-end mr-[80px] bg-[#B2B2B2] top-0  h-[10px] "></div>
              <!-- table -->
           <div class="flex flex-col px-5">
            <main class="tabs flex flex-col mt-[31.43px] font-light">
 
              <!-- table heading -->
              <div class="tabs-header     tabs-item inter flex w-full  text-[14.8px] gap-[5px] px-14 py-[14px]">
                <% if(invoiceType !== 2) { %>
                <p class="flex-1 py-[8.34px]  w-[275px]   px-[15.29px]">DESCRIPTION</p>
            
                  
                  
                  <p class="w-[115px] py-[8.34px] text-center">QTé.</p>
                  <p class="w-[115px] py-[8.34px] text-center"> <%=   invoiceType === 2 ? "Observation": " Prix.U" %></p>
              
                  <p class="w-[115px] py-[8.34px] text-center"><%=   invoiceType === 2 ? "": "Montant" %> </p>
                  
                <% } %> 
                <% if(invoiceType === 2) { %>
                  <p class="min-w-[293px] w-[293px] flex-1 py-[8.34px]   px-[15.29px]">DESCRIPTION</p>
                  <p class="w-[115px] py-[8.34px]  text-center">QTé.</p>
                  <p class="flex-1 py-[8.34px] mr-0 max-w-auto    text-center"> <%=   invoiceType === 2 ? "Observation": " Prix.U" %></p>
              
             
                <% } %> 
            
                
              </div>
            
              <% table.forEach(function(item,index) { %>
                
                <div class="px-14 tabs-item ">
                  <!-- table item -->
                  <div class="border-b-[0.1px]  border-[#1D1D1D]/20 text-[12px] flex w-full items-center gap-[5px] min-h-[50px]  py-[14px]">
                    <p class="flex-1"> <%=item.designation%> </p>
                
                    <p class="w-[115px] py-[8.34px] text-center"> <%=item.quantity%> </p>
                
                    <p class="w-[115px] py-[8.34px] text-center"> 
                      <% if(item.rate != 0 && item.rate != null) { %>
                        <%= invoiceType === 2 ? "": item.rate %>
                      
                      
                        <span class="ml-1"> <%=   invoiceType === 2 ? "": currency %></span> 
                        
                      <% } %> 
                
                     
                  
                
                    </p>
                    <p class="w-[115px] py-[8.34px] text-center">  
                      <% if(item.amount != 0 && item.amount != null) { %>
                      <%=   invoiceType === 2 ? "": item.amount %>
                    
                                    
                       
                        
                        <span class="ml-1"> <%=   invoiceType === 2 ? "": currency %></span>
                        
                        <% } %> 
                      </p>
                    
                    </div>
                    
                    
                    
                  </div>
                  <% }) %>
            
            
             
              <div class="flex align-bottom empty-item">
                <div class="w-full"></div>
              </div>
            </main>
            
                
            <div class=" separator" ></div>
            <!-- facture totals informations -->
            <%- include('../subtemplates/total1') %>

            <!-- signature -->
            <%- include('../subtemplates/sign1') %>
           </div>

              <!-- footer -->
            </div>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td>
            <!--place holder for the fixed-position footer-->
            <div class="page-footer-space"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>







 