<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

  <style>
    :root
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');
  
  body {
    font-family: 'Poppins', sans-serif;;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .poppin {
    font-family: 'Poppins', sans-serif;;
  }
  .page-header,
  .page-header-space {
    height: 100px;
  }
  
  .page-footer,
  .page-footer-space {
    height: 50px;
  }
  
  .page-footer {
    position: fixed;
    bottom: 80px;
    
    width: 100%;
    /* for demo */
    /* for demo */
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
    background: yellow; /* for demo */
  }
  
  .page {
    page-break-after: always;
    padding-bottom: 0px;
  }
  
  @page {
    margin: 0mm;
  }
  
  @media print {
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
    
    button {
      display: none;
    }
    
    body {
      margin: 0;
    }
  }
  /* Facture Custom styling */
  
  /* End Facture Custom styling */
</style>

    <!-- Templates styling -->
  <style>
    .header {
    padding: 0px 55px;
  }
  .date {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #000100;
  }
    .headline-wrapper {
    width: auto;
    margin: 0 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .facture-content .headline-wrapper .facture-number {
    display: none;
  }
    .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;
  }
  .sub-headline {
    flex: 1;
  }
  .sub-headline > div {
    flex: 1;
  }

  .sub-headline > div {
    gap: 16px;
    justify-content: space-between;
  }

  .hidden-subheadline {
    display: none;
  }

  .hidden-subheadline div {
    display: none;
  }

  .sub-headline p {
    max-width: 250px;
    
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: none;
  }
    .tabs-header {
    gap: 5px;
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 8px;
  }

  .tabs-header p {
    padding-top: 10px; /* /!\ */
    padding-bottom: 10px; /* /!\ */
  }
  
  .facture-content .tabs-header .description {
    padding-left: 10px;
  }

  .tabs-item {
    padding: 0 56px;
  }
  
  .tabs-item p {
    padding-top: 14px; /* /!\ */
    padding-bottom: 14px; /* /!\ */
    padding-left: 5px;
  }

  .tabs-item.empty-item {
    display: none;
  }
  
  /* Show default qty */
  .tabs .quantity {
    display: none;
  }
  
  .tabs .quantity.second {
    display: block;
  }
  
  /* Hide indexs */
  .tab-indexs {
    display: block;
  }

  .tabs .amount {
    padding-left: 0 !important;
  }
    .total {
    color: #4D4B4C;
    margin-top: 23.63px;
    padding-left: 56px;
    padding-right: 56px;
    align-items: flex-start;
    gap: 10px;
  }

  .left {
    max-width: 300px;
  }

  .right, .right > div {
    min-width: 260px;
    gap: 10px;
  }

  .right p {
    padding-left: 6px;
    padding-right: 14px;
  }
  
  .right p span {
    z-index: 2;
  }

  .right .remise {
    padding: 6px 12px 8px 6px;
    border: 1px solid #4D4B4C;
  }

  .right .total-amount {
    background: pink;
    padding: 10px 12px 10px 9px;
  }

  .total-separator {
    height: 1px;
    background: black;
    left: 0;
    right: 0;
  }
    .sign {
    margin-top: 8px;
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .sign > div p {
    width: 130px;
    padding-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #4E4D4D;
  }

  .sign > div:last-child {
     /* margin-top: -8px*/
     margin-top: 0;
  }
  /* <!-- addons styling --> */
    .total {
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 0px;
  }
  
  .right, .right > div {
    gap: 0;
    width: 100%;
  }
  
  .right p {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .right p:nth-child(even) {
    background: transparent;
  }

  .right p:nth-child(2) {
    padding: 9;
    border-top: transparent;
  }

  .right .remise {
    border: none;
    font-size: 12px;
  }

  .right .total-amount {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .logo img{
    object-position: left;
   
    padding-right: 10px;
 }
  .left {
    flex: 1;
    max-width: unset !important;
    margin-top: 20px;
  }
    .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;;
  }
  .facture-content .sub-headline {
    gap: 16px;
    flex: 0;
    flex-direction: column;
  }

  .sub-headline p {
    width: 160px;
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: block;
  }

  /* make subheadline in col */
  
  .sub-headline .hidden-subheadline {
    display: flex;
    justify-content: flex-end;
  }

  .sub-headline div:first-child > .headline-client,
  .sub-headline div:first-child > .headline-address {
    display: none;
  }

  .sub-headline .hidden-subheadline > .headline-client,
  .sub-headline .hidden-subheadline > .headline-address {
    display: block;
  }

  .sub-headline-wrapper .facture-number {
    display: flex;
    justify-content: flex-end;
  }
    .header .heading-info {
    padding: 0;
    flex: 1;
  }
    .tabs {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tabs-header {
    border-top: 1px solid #4D4B4C;
    border-bottom: 1px solid #4D4B4C;
    gap: 0;
  }

  .tabs-header .description {
    padding-left: 22px !important;
  }

  .tabs-item .description {
    padding-left: 22px;
  }
  
  .tabs-item .amount {
    padding-right: 22px;
  }
    .tabs .quantity.second, 
  .tabs .quantity.first {
    display: none;
  }

  .tabs .quantity.third {
    display: block;
  }
  </style>
<!-- end addons styling -->
<style>
  /* custom styling */

  .header {
    padding-top: 28px;
    padding-bottom: 16px;
    background: color-mix(in srgb, var(--primary-color, #D7A4AE) 20%, transparent);;
  }

  .header .heading-info {
    text-align: end;
  }

  .sub-headline-wrapper {
    padding-top: 19px;
    padding-bottom: 14px;
  }

  .sub-headline-wrapper .facture-number {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 78px;
    padding-bottom: 14px;
    color: var(--secondary-color, #926E96);
    border-left: 1px solid #4D4B4C;
  }

  .sub-headline-wrapper .facture-number > div p:first-child  {
    display: none;
  }

  .sub-headline-wrapper .facture-number > div p {
    font-size: 34px;
    font-weight: 500;
  }

  .sub-headline-wrapper .facture-number .date {
    text-align: center;
    font-size: 18px;
    border-color: var(--secondary-color, #926E96);
  }

  .tabs-header {
    padding-left: 35px;
    padding-right: 35px;
    border: none;
  }

  .tabs-item {
    background: color-mix(in srgb, var(--primary-color, #D7A4AE) 20%, transparent);
    margin: 0 56px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .tabs-header + .tabs-item {
    padding-top: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .tabs-item.last {
    padding-bottom: 16px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;  
  }
  
  .left, .right {
    color: #000;
  }

  .left {
    padding-left: 56px;
  }

  .right > div p,
  .right > div .remise {
    padding: 6px 56px;
  }

  .right .total-amount {
    color: var(--primary-text-color, white);
    background: var(--primary-color, #D7A4AE) !important;
    border-radius: 50px;
    margin-top: 8px;
    padding-left: 56px;
    padding-right: 56px;
  }

  .sign {
    padding-top: 12px;
  }

  .sign > div, .sign > div > p {
    border: none;
  }

  .facture-text{
    font-size: 22px !important;
    margin-bottom: 5px !important;
  }
  /* custom end styling */
</style>

<body>
  <!-- footer -->
  <div class="page-footer footer">
    <div class="absolute left-0 -bottom-[70px]">
      <svg xmlns="http://www.w3.org/2000/svg" width="115" height="42" viewBox="0 0 115 42" fill="none">
        <path d="M94.6115 41.03H-4.10365C-15.3564 41.03 -24.481 31.9054 -24.481 20.6526C-24.481 9.39992 -15.3564 0.275391 -4.10365 0.275391H94.6115C105.864 0.275391 114.989 9.39992 114.989 20.6526C114.989 31.9054 105.864 41.03 94.6115 41.03Z" fill="#D7A4AE"/>
      </svg>
    </div>
  </div>
  <table>
    <tbody>
      <tr>
        <td class="pages w-[827px]">
          <main class="<%= 'facture-content flex flex-col w-full page-content ' + (invoiceType == 0 ? 'proforma' : invoiceType == 1 ? 'facture' : invoiceType == 2 ? 'bordereau' : 'facture-content') %>">
            <!-- Header + Facture -->
            <header class="flex justify-between header">
  
              <div class="logo max-h-[120px] flex object-left object-contain h-[120px] w-[400px] pl-[0px]">
                <img class="object-left object-contain h-[120px] w-[400px]" src="<%=logo%>" alt="" srcset="">
              </div>
              
              <div class="heading-info flex items-center px-[45px] flex-1 min-h-[120px] ml-4">
                <p class="text-[12px]">
                  <%= enterprise.name %> - notre adresse <%= enterprise.address %> - Rccm :  <%= enterprise.rccm %> - Email :  <%= enterprise.email %> - Compte Bank :  <%= enterprise.bankNumber %> - Tél : +<%= JSON.parse(enterprise.numbers)[0].indicatif %><%= JSON.parse(enterprise.numbers)[0].number %> / +<%= JSON.parse(enterprise.numbers)[1]?.indicatif %><%= JSON.parse(enterprise.numbers)[1]?.number %> - <%= JSON.parse(enterprise.nif)[0].content %> <%= JSON.parse(enterprise.nif)[1]?.content %>
                </p>
              </div>
            </header>

                        
            <!-- Subheadline -->
            <div class="flex justify-between sub-headline-wrapper">
              <div class="flex sub-headline row">
                <div class="flex flex-1">
                  <div class="headline-object inter leading-5 font-light text-[16.4px]">
                    <p>Objet:</p>
                    <p><%= project.name %></p>
                  </div>
                  <div class="headline-client inter leading-5 font-light text-[16.4px]">
                    <p>Client:</p>
                    <p><%=  customer.name %></p>
                  </div>
                  <div class="headline-address inter leading-5 font-light text-[16.4px]">
                    <p>Adresse:</p>
                    <p><%=  customer.address %></p>
                  </div>
                </div>
                

                <div class="flex   w-[470px]">
                  
                  <div class=" flex flex-col  w-full  leading-5 font-light text-[16.4px]">
                    <p>Client:</p>
                    <p class=""><%=  customer.name %></p>
                  </div>
                  <div class="     w-full   leading-5 font-light text-[16.4px]">
                    <p>Adresse:</p>
                    <p class=""><%=  customer.address %> </p>
                  </div>
                </div>
              </div>
            
              <div class="facture-number font-light text-[23px] ">
                
                <div class="leading-[24px]">
                  <p></p>
                  <% if(invoiceType == 0) { %>
                    <p class="facture-text" >PROFORMA</p>
                  <% } %>
                  <% if(invoiceType == 1) { %>
                    <p class="facture-text" >FACTURE</p>
                    <% } %>
                    <% if(invoiceType == 2) { %>
                    <p  class="facture-text" >BORDEREAU</p>
                  <% } %> 

                  
                  
                  <p>N°: <span><%=project.invoiceNumber.toString().padStart(5, '0')%></span> </p>
                </div>
            
                <div class="hidden hidden-date-border"></div>
                      
                <% if(invoiceType == 0) { %>
                  <p class="date font-light text-[17px]">Date: <%=date%></p>
                <% } %> 
                <% if(invoiceType == 1) { %>
                  <p class="date font-light text-[14px]">Date: <%=date%></p>
                <% } %> 
                <% if(invoiceType == 2) { %>
                  <p class="date font-light text-[19px]">Date: <%=date%></p>
                <% } %>
            
              </div>
            </div>
            
            
            <div class="h-4"></div>
            <div class="headline-separator w-auto mx-[56px]">
              <svg xmlns="http://www.w3.org/2000/svg" width="721" height="8" viewBox="0 0 721 8" fill="none">
                <path d="M4.18408 3.85156H717.362" stroke="var(--primary-color, #D7A4AE)" stroke-width="6.95471" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            
            <div class="h-2"></div>
            
            <!-- table -->
<%- include('../subtemplates2b/tabs/tab1') %>
            
                        <!-- facture totals informations -->
            <%- include('../subtemplates2b/total/total1') %>

            <!-- signature -->
            <%- include('../subtemplates2b/sign/sign1') %>
            
          </main>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
