<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

  <style>
    :root
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');
  
  body {
    font-family: 'Poppins', sans-serif;;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .poppin {
    font-family: 'Poppins', sans-serif;;
  }
  .page-header,
  .page-header-space {
    height: 100px;
  }
  
  .page-footer,
  .page-footer-space {
    height: 50px;
  }
  
  .page-footer {
    position: fixed;
    bottom: 80px;
    
    width: 100%;
    /* for demo */
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
    background: yellow; /* for demo */
  }
  
  .page {
    page-break-after: always;
    padding-bottom: 0px;
  }
  
  @page {
    margin: 0mm;
  }
  
  @media print {
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
    
    button {
      display: none;
    }
    
    body {
      margin: 0;
    }
  }
  /* Facture Custom styling */
  
  /* End Facture Custom styling */
</style>

    <!-- Templates styling -->
  <style>
    .header {
    padding: 0px 55px;
  }
  .date {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #000100;
  }
    .headline-wrapper {
    width: auto;
    margin: 0 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .facture-content .headline-wrapper .facture-number {
    display: none;
  }
    .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;
  }
  .sub-headline {
    flex: 1;
  }
  .sub-headline > div {
    flex: 1;
  }

  .sub-headline > div {
    gap: 16px;
    justify-content: space-between;
  }

  .hidden-subheadline {
    display: none;
  }

  .hidden-subheadline div {
    display: none;
  }

  .sub-headline p {
    max-width: 150px;
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: none;
  }
    .tabs-header {
    gap: 5px;
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 8px;
  }

  .tabs-header p {
    padding-top: 10px; /* /!\ */
    padding-bottom: 0px; /* /!\ */
  }
  
  .facture-content .tabs-header .description {
    padding-left: 10px;
  }

  .tabs-item {
    padding: 0 56px;
  }
  
  .tabs-item p {
    padding-top: 10px; /* /!\ */
    padding-bottom: 4px; /* /!\ */
    padding-left: 5px;
  }

  .tabs-item.empty-item {
    display: none;
  }
  
  /* Show default qty */
  .tabs .quantity {
    display: none;
  }
  
  .tabs .quantity.second {
    display: block;
  }
  
  /* Hide indexs */
  .tab-indexs {
    display: block;
  }

  .tabs .amount {
    padding-left: 0 !important;
  }
    .total {
    color: #4D4B4C;
    margin-top: 23.63px;
    padding-left: 56px;
    padding-right: 56px;
    align-items: flex-start;
    gap: 10px;
  }

  .left {
    max-width: 300px;
  }

  .right, .right > div {
    min-width: 260px;
    gap: 10px;
  }

  .right p {
    padding-left: 6px;
    padding-right: 14px;
  }
  
  .right p span {
    z-index: 2;
  }

  .right .remise {
    padding: 6px 12px 8px 6px;
    border: 1px solid #4D4B4C;
  }

  .right .total-amount {
    background: pink;
    padding: 10px 12px 10px 9px;
  }

  .total-separator {
    height: 1px;
    background: black;
    left: 0;
    right: 0;
  }
    .sign {
    margin-top: 8px;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .sign > div p {
    width: 130px;
    padding-top: 0;
    padding-bottom: 8px; 
  }

  .sign > div:last-child {
     /* margin-top: -8px*/
     margin-top: 0;
  }
  /* <!-- addons styling --> */
    
    .tabs-header {
    gap: 0;
    margin-bottom: 0;
  }

  .tabs-header p {
    width: 120px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .tabs-header p,
  .tabs-item p {
    border-left: 1px solid #000;
  }
  .tabs-header p:last-child,
  .tabs-item p:last-child {
    border-right: 1px solid #000;
  }
    </style>
<!-- end addons styling -->
<style>
  /* custom styling */

  .header {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .headline-wrapper {
    padding: 28px 32px;
    border: 1px solid #000;
    border-bottom: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .headline-wrapper .facture-number {
    display: block !important;
    font-weight: 500;
  }

  .headline-wrapper .facture-number p:first-child,
  .headline-wrapper .facture-number .date {
    display: none;
  }

  .headline-wrapper .facture-number p:first-child  {
    display: block;
  }

  .sub-headline-wrapper {
    background-color: var(--primary-color, #87865F);
    padding: 4px 56px;
    padding-bottom: 14px;
    margin: 0;
    font-size: 16px;
    color: var(--primary-text-color, white);
    justify-content: space-between;
  }

  .sub-headline-wrapper .headline-object {
    display: none !important;
  }
  .sub-headline-wrapper .headline-client {
    display: none !important;
  }
  .sub-headline-wrapper .headline-address {
    display: none !important;
  }

  .facture-content .sub-headline-wrapper .facture-number {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
  }

  .facture-content .sub-headline-wrapper .facture-number p {
    display: none !important;
  }
  .facture-content .sub-headline-wrapper .facture-number p.date {
    display: block !important;
    border: none;
    padding-right: 36px;
    font-size: 18px !important;
  }

  .tabs {
    padding: 30px 0 0 0;
    margin: 0 56px;
    width: auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }

  .tabs-header,
  .tabs-item {
    margin-left: 0;
    margin-right: 0;
    padding-left: 32px;
    padding-right: 32px;
  }

  .tabs-item {
    gap: 10px !important;
  }

  .tabs p.description {
    padding-left: 22px !important;
    padding-right: 8px ;
  }

  .tabs .tabs-header p {
    border-bottom: none;
    border-top: none;
    padding-top: 16px;
    color: var(--primary-color, #87865F);
  }

  .tabs .tabs-header p {
    width: 115px !important;
  }

  .bordereau .tabs-item p.quantity {
    width: 115px !important;
    margin-left: 2px;
  }

  .tabs .tabs-header + .tabs-item p {
    padding-top: 40px;
  }

  .right .total-amount {
    color: var(--primary-text-color, white);
    background: var(--primary-color, #87865F) !important;
  }

  .total {
    margin: 0 56px;
    padding: 24px 49px 0 49px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }

  .sign {
    min-height: 180px;
    margin: 0 56px;
    padding: 12px 49px;
    border: 1px solid #000;
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
.logo{
  max-width: 380px;
  min-width: 380px;
}
 
.header .heading-info{
  padding: 0;
  flex: 1;
  max-width: 310px !important;
}
.headline{
  max-width: 380px;
  font-size: 14px !important;
}
  /* custom end styling */
</style>

<body>
  <!-- footer -->
  <div class="pt-4 page-footer footer">
  </div>
  <table>
    <tbody>
      <tr>
        <td class="pages w-[827px]">
          <main class="<%= 'facture-content flex flex-col w-full page-content ' + (invoiceType == 0 ? 'proforma' : invoiceType == 1 ? 'facture' : invoiceType == 2 ? 'bordereau' : 'facture-content') %>">
            <!-- Header + Facture -->
<%- include('../subtemplates2b/header/header2') %>
            
            <!-- Headline -->
            <%- include('../subtemplates2b/headline/headline1') %>

            <%- include('../subtemplates2b/headline/subheadline1') %>
            
            <!-- table -->
            <main class="flex flex-col font-light tabs">
              <div class="absolute tab-dummy"></div>
              <div class="absolute tab-dummy"></div>
              <div class="absolute tab-dummy"></div>
              <div class="absolute tab-dummy"></div>
             
              <!-- table heading -->
              <div class="tabs-header inter flex text-[14.8px]">
                <p class="w-[80px] text-center tab-indexs hidden">No</p>
                <% if(invoiceType !== 2) { %>
                <p class="w-[80px] text-center quantity first">Qté.</p>
                <p class="flex-1 description">Description</p>
                <p class="w-[115px] text-center quantity second">Qté.</p>
                <p class="w-[115px] text-center price"> <%=   invoiceType === 2 ? "Observation": " Prix.U" %></p>
                <p class="w-[115px] text-center quantity third">Qté.</p>
                <p class="hidden"></p>
                <p class="w-[115px] text-center amount"><%=   invoiceType === 2 ? "": "Montant" %> </p>
                <% } %>
                <% if(invoiceType === 2) { %>
                  <p class="w-[115px] text-center quantity first">Qté.</p>
                  <p class="flex-1 description">Description</p> <!-- min-w-[355px] w-[275px]  -->
                  <p class="w-[115px] text-center quantity second">Qté.</p>
                  <p class="w-[115px] text-center quantity third">Qté.</p>
                  <p class="flex-1 mr-0 text-center max-w-auto price"> <%=   invoiceType === 2 ? "Observation": " Prix.U" %></p>
                <% } %> 
              </div>
            
            
              <% table.forEach(function(item,index) { %>
                <% if(invoiceType != 2) { %>
                <div class="tabs-item  <%= index == table.length-1 ? "last": "" %> ">
                  <!-- table item -->
                  <div class="text-[12px] flex w-full min-h-[50px]">
                    <p class="w-[80px] text-center tab-indexs hidden text-[14.8px]"><%= index +1 %></p>
                    <p class="w-[100px] text-center quantity first"> <%=item.quantity%> </p>
                    <p class="flex-1 description"> <%=item.designation%> </p>
                    <p class="w-[115px] text-center quantity second"> <%=item.quantity%> </p>
                    <p class="w-[115px] text-center price"> 
                      <% if(item.rate != 0 && item.rate != null) { %>
                        <%= invoiceType === 2 ? "": item.rate %>
                        <span class="ml-1"> <%=   invoiceType === 2 ? "": currency %></span> 
                      <% } %>
                    </p>
                    <p class="w-[115px] text-center quantity third"> <%=item.quantity%> </p>
                    <p class="w-[115px] text-center amount">  
                      <% if(item.amount != 0 && item.amount != null) { %>
                        <%=   invoiceType === 2 ? "": item.amount %>
                        <span class="pl-1"> <%=   invoiceType === 2 ? "": currency %></span>
                      <% } %> 
                    </p>
                  </div>
                </div>
                <% } %> 
                <% if(invoiceType == 2) { %>
                <div class="tabs-item  <%= index == table.length-1 ? "last": "" %> ">
                  <!-- table item -->
                  <div class="text-[12px] flex w-full min-h-[50px]">
                    <p class="w-[80px] text-center tab-indexs hidden text-[14.8px]"><%= index +1 %></p>
                    <p class="w-[120px] min-w-[130px]  text-center quantity first"> <%=item.quantity%> </p>
                    <p class="w-[264px] description"> <%=item.designation%> </p>
                    <p class="w-[110px] min-w-[115px]     text-center quantity second "> <%=item.quantity%> </p>
                    <p class="w-[110px] min-w-[115px]     text-center quantity third "> <%=item.quantity%> </p>
                    <p class="flex-1"></p>
                  </div>
                </div>
                <% } %> 
            
                <% }) %>
            
                  <% if(invoiceType != 2) { %>
                    <div class="flex w-auto align-bottom empty-item">
                      <!-- table item -->
                      <div class="text-[12px] flex w-full">
                        <p class="w-[80px] text-center tab-indexs hidden"></p>
                        <p class="w-[100px] text-center quantity first"> </p>
                        <p class="flex-1 description"> </p>
                        <p class="w-[115px] text-center quantity second"> </p>
                        <p class="w-[115px] text-center price"></p>
                        <p class="w-[115px] text-center quantity third"></p>
                        <p class="w-[115px] text-center amount"></p>
                      </div>
                    </div>
                    <% } %> 
                    <% if(invoiceType == 2) { %>
                    <div class="flex w-auto align-bottom empty-item">
                      <!-- table item -->
                      <div class="text-[12px] flex w-full">
                        <p class="w-[80px] text-center tab-indexs hidden"></p>
                        <p class="flex-1 description"> </p>
                        <p class="w-[120px] text-center quantity block"></p>
                        <p class="flex-1 max-w-[290px]"></p>
                      </div>
                    </div>
                    <% } %>
            
            </main>
            
            
                        <!-- facture totals informations -->
            <%- include('../subtemplates2b/total/total1') %>

            <!-- signature -->
            <%- include('../subtemplates2b/sign/sign1') %>

          </main>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
