<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
<script>
  
</script>
  <style>
    :root
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');

    body {
      font-family: 'Poppins', sans-serif;;
    }
    .inter {
      font-family: 'Inter', sans-serif;
    }
    .poppin {
      font-family: 'Poppins', sans-serif;;
    }
    .page-header,
    .page-header-space {
      height: 100px;
    }

    .page-footer,
    .page-footer-space {
      height: 80px;
    }

    .page-footer {
      position: fixed;
      bottom: 80px;

      width: 100%;
      /* for demo */
      /* for demo */
    }

    

    .page-header {
      position: fixed;
      top: 0mm;
      width: 100%;
      border-bottom: 1px solid black; /* for demo */
      background: yellow; /* for demo */
    }

    .page {
      page-break-after: always;
      padding-bottom: 0px;
    }

    @page {
      margin: 0mm;
    }

    @media print {
      thead {
        display: table-header-group;
      }
      tfoot {
        display: table-footer-group;
      }

      button {
        display: none;
      }

      body {
        margin: 0;
      }
    }
    /* Facture Custom styling */
    .logo {
      background-color: #3E2256;
    }

    .tabs-item {
       
    }

    .tabs .tabs-header {
     
      border-bottom: 1px solid #1d1d1d58;
      margin-left: 56px !important;
      width: 86.4% !important;
      padding: 4px 0px !important;
      margin-bottom: 20px;
    }
    .text-secondary p {
      color: var(--secondary-color,#391D5C);
    }

    .bg-primary {
      background-color: var(--primary-color,#ECB05D);
    }
    .bg-secondary {
      background-color: var(--secondary-color,#391D5C);
    }
    
    .tabs > .tabs-item:nth-child(even) {
      
      background: color-mix(in srgb, var(--primary-color,#ECB05D) 10%, transparent);
    
      margin: 0px 56px !important;
      padding: 0px !important;

    }
    
    .facture-number-separator {
      
      background: color-mix(in srgb, var(--primary-color,#ECB05D) 100%, transparent);
      

    }
    .signature {
      padding-top: 10px !important;
    }
    .separator {
      
      background: color-mix(in srgb, var(--primary-color,#ECB05D) 10%, transparent);
     height: 1px;
      margin: 0px 56px !important;
      padding: 0px !important;

    }
    .facture-number {
      
     
padding-left: 50px !important;
padding-right: 35px !important;
    }

    .facture-number > p:last-child {
      
     border-top: none !important; 
          }

       
       

    .tabs-item  p:first-child {
   
      padding-left: 20px !important;
    }

    .tabs-item  div    {
   
    border: none !important;
    }


    .tabs-item > p:first-child {
      
    }
    .total  {
      padding-top: 10px !important;
       display: flex !important;
       flex-direction: column-reverse !important;
    }

    .total .left  {

      padding: 10px 20px !important;
      
      
      display: block !important;
      width: 100% !important;
      max-width: 100% !important;
     
      flex-direction: column-reverse !important;
   }
   
   .total .right  {
      gap: 0px !important;
     
 }
   .total .right p  {
      gap: 0px !important;
      padding: 10px 25px !important;
     
 }
 
   .border-separator  {
      height: 3px; 
    background:  linear-gradient(90deg, color-mix(in srgb, var(--primary-color,#ECB05D) 100%, transparent) 41%,color-mix(in srgb, var(--primary-color,#ECB05D) 20%, transparent) 41.1% ,  color-mix(in srgb, var(--primary-color,#ECB05D) 20%, transparent)) !important;
    color: black;
 }
   .border-separator-footer  {
      height: 5px; 
    background:  linear-gradient(30deg, color-mix(in srgb, var(--secondary-color,#391D5C) 100%, transparent) 0%,color-mix(in srgb, var(--secondary-color,#391D5C) 10%, transparent) 51%,color-mix(in srgb, var(--primary-color,#ECB05D) 100%, transparent) 81.1% ,  color-mix(in srgb, var(--primary-color,#ECB05D) 100%, transparent)) !important;
    color: black;
 }
   .total .right p:nth-child(odd)  {
      
    background: color-mix(in srgb, var(--primary-color,#ECB05D) 10%, transparent);
    color: black;
 }
   .total .right p:nth-child(even)  {
      
    background: color-mix(in srgb, var(--primary-color,#ECB05D) 30%, transparent);
    color:  black;
 }

 .remise{
  border:none !important;
  font-size: 12px !important;
 }
 
    .total .total-amount {
      background:  var(--primary-color,#ECB05D) !important;
      color: var(--primary-text-color,white) !important;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
    display: flex;
    justify-content:  space-between ;
   
      
    }
    .border-color {
      border-color:  var(--primary-color,#ECB05D) !important;
       
      
    }
    .text-color-primary {
      color:  var(--primary-color,#ECB05D) !important;
       
      
    }

 
    
    .footer-mark-last {
      
      width: 334px;
      height: 3px;
      position: absolute;
      top: -4px;
      left: 0;
      background:  var(--primary-color,#ECB05D) !important;
    }

 
    .footer {
      background: white;
      color: black;
      bottom: 0;
    }

    

  

    /* End Facture Custom styling */
  </style>
 
  <body>
    <!-- footer -->
    <div class="footer bottom-0 page-footer h-[80px] flex flex-col justify-start items-center inter">
      <div class="relative w-full mb-3">
        <div class="absolute top-0 right-0 flex justify-between w-full border-separator-footerr">

          <div class="w-[40%]  first-letter: h-1 rounded-tr-full bg-secondary "></div>
          <div class="w-[40%]   h-1 rounded-tl-full bg-primary "></div>

        </div>
        
      </div>
      <p class="text-[11px] px-[57px]  pt-2 text-center line-clamp-4">
  

        <%= dataEnterpriseInfo %> 
    </p>
    </div>
    <table>
      <tbody>
         

        <tr>
          <td class="pages w-[827px]">
             
           


            <div class="flex flex-col w-full page-content">
             
              <!-- logo + facture -->
              <header class="heading flex justify-start mt-[38.95px] px-14">
 
                <div class="max-h-[120px] flex object-left  object-contain h-[120px] max-w-[400px] w-[400px]  ">
                  <img class=" max-h-[120px] object-left  object-contain h-[120px] max-w-[400px] w-[400px] " src="<%=logo%>" alt="" srcset="">
                  
                                </div>
                             
                              
                               <!--  <div class="facture-number  flex flex-col items-center my-[15px] font-light text-[23px] inter pr-4">
                                  <div class="leading-[24px] mb-1">
                                    <% if(invoiceType == 0) { %>
                                      <p>PROFORMA</p>
                                    <% } %>
                                    <% if(invoiceType == 1) { %>
                                      <p>FACTURE</p>
                                    <% } %>
                                    <% if(invoiceType == 2) { %>
                                      <p >BORDEREAU</p>
                                    <% } %> 
                                    <p >N°: <span><%=project.invoiceNumber.toString().padStart(5, '0')%></span> </p>
                                  </div>
              
                                  <div class=" h-[1px]  w-[200px] facture-number-separator" ></div>
                                  <% if(invoiceType == 0) { %>
                                  
                                    <p class="pt-1  border-t-[1px] font-light border-[#4D4B4C] text-[17px] flex justify-between">Date: <%=date%></p>
                                  <% } %> 
                                  <% if(invoiceType == 1) { %>
                                  
                                    <p class="pt-1  border-t-[1px] font-light border-[#4D4B4C] text-[14px] flex justify-between">Date: <%=date%></p>
                                  <% } %> 
                                  <% if(invoiceType == 2) { %>
                                  
                                    <p class="pt-1  border-t-[1px] font-light border-[#4D4B4C] text-[19px] flex justify-between">Date: <%=date%></p>
                                  <% } %> 
              
                                </div> -->
              </header>
              
             
              
               
              
               
          
              <!-- headline (object, address, client) -->
             <div class="flex items-start justify-between pr-7 mt-[34.53px]">
              <div class="headline flex-1 inter leading-5 font-light  text-[16.4px] pl-14 pr-6">
                <div class="">    <p class="" >Objet : <%= project.name %></p></div>
                <div class="">    <p class="" >Client : <%=  customer.name %></p></div>
                <div class="">    <p class="" >Adresse : <%=  customer.address %></p></div>
                </div>
                
                
                <div class="flex flex-col justify-start pr-8 h-[60px] items-start text-secondary font-semibold border-l pl-7 inter ">
                  <div class="flex mb-1 font-light leading-4 ">
                    <% if(invoiceType == 0) { %>
                      <p class="">PROFORMA</p>
                    <% } %>
                    <% if(invoiceType == 1) { %>
                      <p class="">FACTURE</p>
                    <% } %>
                    <% if(invoiceType == 2) { %>
                      <p class="" >BORDEREAU</p>
                    <% } %> 
                    <p class="ml-1 font-normal ">N°: <span><%=project.invoiceNumber.toString().padStart(5, '0')%></span></p>
                  </div>
                  <p class="font-normal ">Date: <%=date%></p>
                </div>
                
             </div>
               

              <!-- table -->
              <%- include('../subtemplates/table1b') %>
              <div class=" separator" ></div>
                
              <!-- facture totals informations -->
              <%- include('../subtemplates/total1b') %>

              

              <!-- signature -->
              <%- include('../subtemplates/sign1') %>

              <!-- footer -->
            </div>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td>
            <!--place holder for the fixed-position footer-->
            <div class="page-footer-space"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>









