<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

  <style>
    :root
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');
  
  body {
    font-family: 'Poppins', sans-serif;;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .poppin {
    font-family: 'Poppins', sans-serif;;
  }
  .page-header,
  .page-header-space {
    height: 100px;
  }
  
  .page-footer,
  .page-footer-space {
    height: 20px;
  }
  
  .page-footer {
    position: fixed;
    bottom: 0px;
    
    width: 100%;
    /* for demo */
    /* for demo */
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
    background: yellow; /* for demo */
  }
  
  .page {
    page-break-after: always;
    padding-bottom: 0px;
  }
  
  @page {
    margin: 0mm;
  }
  
  @media print {
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
    
    button {
      display: none;
    }
    
    body {
      margin: 0;
    }
  }
  /* Facture Custom styling */
  /* End Facture Custom styling */
</style>

    <!-- Templates styling -->
  <style>
    .header {
    padding: 0px 55px;
  }
  .date {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #000100;
  }
    .headline-wrapper {
    width: auto;
    margin: 0 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .facture-content .headline-wrapper .facture-number {
    display: none;
  }
    .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;
  }
  .sub-headline {
    flex: 1;
  }
  .sub-headline > div {
    flex: 1;
  }

  .sub-headline > div {
    gap: 16px;
    justify-content: space-between;
  }

  .hidden-subheadline {
    display: none;
  }

  .hidden-subheadline div {
    display: none;
  }

  .sub-headline p {
    max-width: 150px;
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: none;
  }
    .tabs-header {
    gap: 5px;
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 8px;
  }

  .tabs-header p {
    padding-top: 10px; /* /!\ */
    padding-bottom: 10px; /* /!\ */
  }
  
  .facture-content .tabs-header .description {
    padding-left: 10px;
  }

  .tabs-item {
    padding: 0 56px;
  }
  
  .tabs-item p {
    padding-top: 14px; /* /!\ */
    padding-bottom: 14px; /* /!\ */
    padding-left: 5px;
  }

  .tabs-item.empty-item {
    display: none;
  }
  
  /* Show default qty */
  .tabs .quantity {
    display: none;
  }
  
  .tabs .quantity.second {
    display: block;
  }
  
  /* Hide indexs */
  .tab-indexs {
    display: block;
  }

  .tabs .amount {
    padding-left: 0 !important;
  }
    .total {
    color: #4D4B4C;
    margin-top: 23.63px;
    padding-left: 56px;
    padding-right: 56px;
    align-items: flex-start;
    gap: 10px;
  }

  .left {
    max-width: 300px;
  }

  .right, .right > div {
    min-width: 260px;
    gap: 10px;
  }

  .right p {
    padding-left: 6px;
    padding-right: 14px;
  }
  
  .right p span {
    z-index: 2;
  }

  .right .remise {
    padding: 6px 12px 8px 6px;
    border: 1px solid #4D4B4C;
  }

  .right .total-amount {
    background: pink;
    padding: 10px 12px 10px 9px;
  }

  .total-separator {
    height: 1px;
    background: black;
    left: 0;
    right: 0;
  }
    .sign {
    margin-top: 8px;
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .sign > div p {
    width: 130px;
    padding-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #4E4D4D;
  }

  .sign > div:last-child {
     /* margin-top: -8px*/
     margin-top: 0;
  }
  /* <!-- addons styling --> */
      .facture-number {
    display: flex;
    flex-direction: column;
  }

  .facture-number > div {
    display: flex;
    font-size: 14px;
  }
  
  .facture-number > div p:last-child {
    padding-left: 6px;
    padding-top: 0;
  }

  .date {
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
    border: none;
    line-height: 12px;
    text-transform: uppercase;
  }

  .facture-content .facture-number p,
  .facture-content .facture-number > div p:last-child {
    padding-top: 0;
    font-size: 14px;
  }
    .tabs-item p {
    border-bottom: 1px solid #A6A5A3 /*rgba(29, 29, 29, 0.2)*/;
  }
      .total {
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 0px;
  }
  
  .right, .right > div {
    gap: 0;
    width: 100%;
  }
  
  .right p {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .right p:nth-child(even) {
    background: transparent;
  }

  .right p:nth-child(2) {
    padding: 9;
    border-top: transparent;
  }

  .right .remise {
    border: none;
    font-size: 12px;
  }

  .right .total-amount {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .left {
    flex: 1;
    max-width: unset !important;
    margin-top: 20px;
  }
    </style>
<!-- end addons styling -->
<style>
  /* custom styling */

  .header {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  .logo {
    padding-left: 70px !important;
  }

  .header .logo img {
    object-position: left;
  }

  .header .heading-info {
    flex: 1;
    background: var(--primary-color, #926E96);
    display: flex;
    justify-content: flex-end;
    padding: 22px 70px 22px 70px;
    min-height: unset !important;
  }
  
  .header .heading-info p {
    color: var(--primary-text-color, white);
    max-width: 350px;
    text-align: right;
  }
  
  .headline-wrapper {
    color: var(--primary-text-color, white);
    background: var(--primary-color, #926E96);
    padding: 0 70px;
    margin: 0;
  }

  .headline-wrapper .facture-number {
    display: flex !important;
    flex-direction: column;
    align-items: end;
    padding-top: 21px;
    padding-bottom: 21px;
    border-top: 1px solid var(--primary-text-color, white);
  }

  .headline {
    flex: 1;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 14px !important;
    line-height: 16px !important;
    border-top: 1px solid var(--primary-text-color, white);
  }

  .tabs {
    padding-left: 14px;
    padding-right: 14px;
  }

  .tabs-header {
    gap: 0;
    padding-top: 24px;
    padding-bottom: 0px;
    border-bottom: 1px solid #4D4B4C;
  }

  .tabs-header + .tabs-item p {
    padding-top: 10px;
  }

  .total {
    padding: 0;
    margin-top: 30px;
  }

  .left {
    padding: 0 78px;
    color: #000;
  }

  .right {
    color: #000;
    background: #EFEFEF;

  }

  .right p {
    padding-left: 20px;
    padding-right: 24px;
    border-bottom: 1px solid #4D4B4C;
  }

  .right p, .right .remise {
    margin-left: 56px;
    margin-right: 56px;
    width: auto;
  }

  .right .remise {
    margin-left: 70px;
    margin-right: 70px;
  }
  
  .right .total-amount {
    margin: 0 !important;
    border-bottom: none;
    padding-left: 78px;
    padding-right: 82px;
    color: var(--primary-text-color, white);
    background-color: var(--primary-color, #926E96) !important;
  }

  /* custom end styling */
</style>

<style>
  .header {
    padding-top: 30px;
  }
 
  .tabs-header p {
    padding-top: 0;
  }
</style>

<body>
  <!-- footer -->
  <div class="pt-4 page-footer footer">
  </div>
  <table>
    <tbody>
      <tr>
        <td class="pages w-[827px]">
          <main class="<%= 'facture-content flex flex-col w-full page-content ' + (invoiceType == 0 ? 'proforma' : invoiceType == 1 ? 'facture' : invoiceType == 2 ? 'bordereau' : 'facture-content') %>">
            <!-- Header + Facture -->
            <%- include('../subtemplates2b/header/header2') %>
            <!-- Headline -->
            <%- include('../subtemplates2b/headline/headline1') %>
            
            <!-- table -->
            <%- include('../subtemplates2b/tabs/tab1') %>
            
            <!-- facture totals informations -->
            <%- include('../subtemplates2b/total/total1') %>

            <!-- signature -->
            <%- include('../subtemplates2b/sign/sign1') %>
          </main>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
