<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

  <style>
    :root
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&display=swap');
  
  body {
    font-family: 'Poppins', sans-serif;;
  }
  .inter {
    font-family: 'Inter', sans-serif;
  }
  .poppin {
    font-family: 'Poppins', sans-serif;;
  }
  .page-header,
  .page-header-space {
    height: 100px;
  }
  
  .page-footer,
  .page-footer-space {
    height: 50px;
  }
  
  .page-footer {
    position: fixed;
    bottom: 0px;
    
    width: 100%;
    /* for demo */
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
    background: yellow; /* for demo */
  }
  
  .page {
    page-break-after: always;
    padding-bottom: 0px;
  }
  
  @page {
    margin: 0mm;
  }
  
  @media print {
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
    
    button {
      display: none;
    }
    
    body {
      margin: 0;
    }
  }
  /* Facture Custom styling */
  
  /* End Facture Custom styling */
</style>

    <!-- Templates styling -->
  <style>
    .header {
    padding: 0px 55px;
  }
  .date {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #000100;
  }
    .headline-wrapper {
    width: auto;
    margin: 0 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .facture-content .headline-wrapper .facture-number {
    display: none;
  }
  .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;
  }
  .sub-headline {
    flex: 1;
  }
  .sub-headline > div {
    flex: 1;
  }

  .sub-headline > div {
    gap: 16px;
    justify-content: space-between;
  }

  .hidden-subheadline {
    display: none;
  }

  .hidden-subheadline div {
    display: none;
  }

  .sub-headline p {
    max-width: 250px;
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: none;
  }
    .tabs-header {
    gap: 5px;
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
    margin-bottom: 8px;
  }

  .tabs-header p {
    padding-top: 10px; /* /!\ */
    padding-bottom: 10px; /* /!\ */
  }
  
  .facture-content .tabs-header .description {
    padding-left: 10px;
  }

  .tabs-item {
    padding: 0 56px;
  }
  
  .tabs-item p {
    padding-top: 14px; /* /!\ */
    padding-bottom: 14px; /* /!\ */
    padding-left: 5px;
  }

  .tabs-item.empty-item {
    display: none;
  }
  
  /* Show default qty */
  .tabs .quantity {
    display: none;
  }
  
  .tabs .quantity.second {
    display: block;
  }
  
  /* Hide indexs */
  .tab-indexs {
    display: block;
  }

  .tabs .amount {
    padding-left: 0 !important;
  }
    .total {
    color: #4D4B4C;
    margin-top: 23.63px;
    padding-left: 56px;
    padding-right: 56px;
    align-items: flex-start;
    gap: 10px;
  }

  .left {
    max-width: 300px;
  }

  .right, .right > div {
    min-width: 260px;
    gap: 10px;
  }

  .right p {
    padding-left: 6px;
    padding-right: 14px;
  }
  
  .right p span {
    z-index: 2;
  }

  .right .remise {
    padding: 6px 12px 8px 6px;
    border: 1px solid #4D4B4C;
  }

  .right .total-amount {
    background: pink;
    padding: 10px 12px 10px 9px;
  }

  .total-separator {
    height: 1px;
    background: black;
    left: 0;
    right: 0;
  }
    .sign {
    margin-top: 8px;
    padding-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .sign > div p {
    width: 130px;
    padding-top: 0;
    padding-bottom: 8px; 
  }

  .sign > div:last-child {
     /* margin-top: -8px*/
     margin-top: 0;
  }
  /* <!-- addons styling --> */
    .total {
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 0px;
  }
  
  .right, .right > div {
    gap: 0;
    width: 100%;
  }
  
  .right p {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .right p:nth-child(even) {
    background: transparent;
  }

  .right p:nth-child(2) {
    padding: 9;
    border-top: transparent;
  }

  .right .remise {
    border: none;
    font-size: 12px;
  }

  .right .total-amount {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .left {
    flex: 1;
    max-width: unset !important;
    margin-top: 20px;
  }
    .sub-headline-wrapper {
    width: auto;
    margin: 0 55px;;
  }
  .facture-content .sub-headline {
    gap: 16px;
    flex: 0;
    flex-direction: column;
  }

  .sub-headline p {
    width: 160px;
  }
  .facture-content .sub-headline-wrapper .facture-number {
    display: block;
  }

  /* make subheadline in col */
  
  .sub-headline .hidden-subheadline {
    display: flex;
    justify-content: flex-end;
  }

  .sub-headline div:first-child > .headline-client,
  .sub-headline div:first-child > .headline-address {
    display: none;
  }

  .sub-headline .hidden-subheadline > .headline-client,
  .sub-headline .hidden-subheadline > .headline-address {
    display: block;
  }

  .sub-headline-wrapper .facture-number {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 240px; 
    
  }
    .header .heading-info {
    padding: 0;
    flex: 1;
  }
    .tabs {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tabs-header {
    border-top: 1px solid #4D4B4C;
    border-bottom: 1px solid #4D4B4C;
    gap: 0;
  }

  .tabs-header .description {
    padding-left: 22px !important;
  }

  .tabs-item .description {
    padding-left: 22px;
  }
  
  .tabs-item .amount {
    padding-right: 22px;
  }
    .tabs .quantity.second, 
  .tabs .quantity.first {
    display: none;
  }

  .tabs .quantity.third {
    display: block;
  }
  </style>
<!-- end addons styling -->
<style>
  /* custom styling */

  .header {
    padding-left: 0;
    height: unset;
    color: var(--primary-text-color, white);
    background: color-mix(in srgb, var(--primary-color, #F39200) 100%, transparent);
  }

  .logo {
    height: unset !important;
    padding-left: 0;
    padding: 14px 42px 14px 0;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    background: var(--secondary-color, #E94E1B);
    max-height: unset !important;
  }

  .logo img {
    object-position: left;
    padding-left: 40px;
  }
  
  .header .heading-info {
    max-height: unset;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: end;
  }

  .sub-headline-wrapper {
    padding-top: 19px;
    padding-bottom: 14px;
  }

  .sub-headline-wrapper .facture-number {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 78px;
    padding-bottom: 0px !important;
    color: var(--secondary-color, #E94E1B);
    border-left: 1px solid #4D4B4C;
    align-items: flex-end !important; 
  }

  

  .sub-headline-wrapper .facture-number > div p:first-child  {
    display: none;
  }

  .sub-headline-wrapper .facture-number > div p {
    font-size: 34px;
    font-weight: 500;
  }

  .sub-headline-wrapper .facture-number .date {
    text-align: center;
    font-size: 18px;
    border-color: black;
  }

  .tabs-header {
    padding-left: 35px;
    padding-right: 35px;
    border: none;
  }

  .tabs-item {
    background: color-mix(in srgb, var(--primary-color, #F39200) 5%, transparent);
    margin: 0 56px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .tabs-header + .tabs-item {
    padding-top: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .tabs-item.last {
    padding-bottom: 16px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;  
  }
  
  .left, .right {
    color: #000;
  }

  .left {
    padding-left: 56px;
  }

  .right > div p,
  .right > div .remise {
    padding: 6px 56px;
  }

  .right .total-amount {
    color: var(--primary-text-color, white);
    background: var(--primary-color, #F39200) !important;
    
    border-radius: 50px;
    margin-top: 8px;
    padding-left: 56px;
    padding-right: 56px;
    position: relative;
  }


  .right .total-amount .amount-right {
    color: var(--secondary-text-color, white);
     
  }

  .empty-total-amount {
    display: block !important;
    background-color: var(--secondary-color, #E94E1B);
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    border-radius: 50px;
  }

  .sign {
    padding-top: 12px;
  }

  .facture-text{
    font-size: 22px !important;
    margin-bottom: 5px !important;
  }
  .headline-object p:nth-child(2) {
 
min-width: 100%;
max-width: 100%;
  }

  /* custom end styling */
</style>

<body>
  <!-- footer -->
  <div class="page-footer footer">
    <div class="absolute right-0">
      <svg width="233" height="42" viewBox="0 0 233 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M261.013 41.03H162.298C151.046 41.03 141.921 31.9054 141.921 20.6526C141.921 9.39992 151.046 0.275391 162.298 0.275391H261.013C272.266 0.275391 281.391 9.39992 281.391 20.6526C281.377 31.9054 272.266 41.03 261.013 41.03Z" fill="var(--primary-color, #F39200)"/>
        <path d="M102.669 41.03H80.9701C69.7174 41.03 60.5928 31.9054 60.5928 20.6526C60.5928 9.39992 69.7174 0.275391 80.9701 0.275391H102.669C113.921 0.275391 123.046 9.39992 123.046 20.6526C123.032 31.9054 113.908 41.03 102.669 41.03Z" fill="var(--primary-color, #F39200)"/>
        <path d="M21.2567 41.03C10.004 41.03 0.879395 31.9054 0.879395 20.6526C0.879395 9.39992 10.004 0.275391 21.2567 0.275391C32.5094 0.275391 41.634 9.39992 41.634 20.6526C41.6201 31.9054 32.4955 41.03 21.2567 41.03Z" fill="var(--primary-color, #F39200)"/>
      </svg>
    </div>
  </div>
  <table>
    <tbody>
      <tr>
        <td class="pages w-[827px]">
          <main class="<%= 'facture-content flex flex-col w-full page-content ' + (invoiceType == 0 ? 'proforma' : invoiceType == 1 ? 'facture' : invoiceType == 2 ? 'bordereau' : 'facture-content') %>">
            <!-- Header + Facture -->
            <%- include('../subtemplates2b/header/header2') %>

            <!-- Subheadline -->
             
            <div class="flex justify-between my-6 sub-headline-wrapper">
              <div class="flex sub-headline row">
                <div class="flex flex-1">
                  <div class="headline-object   w-[400px] inter leading-5 font-light text-[15.4px]">
                    <p>Objet:</p>
                    <p class="w-full"><%= project.name %></p>
                  </div>
                  <div class="headline-client inter leading-5 font-light text-[15.4px]">
                    <p>Client:</p>
                    <p><%=  customer.name %></p>
                  </div>
                  <div class="headline-address inter leading-5 font-light text-[15.4px]">
                    <p>Adresse:</p>
                    <p><%=  customer.address %></p>
                  </div>
                </div>
                

                <div class="flex   w-[470px]">
                  
                  <div class=" flex flex-col  w-auto  leading-5 font-light text-[15.4px]">
                    <p>Client:</p>
                    <p class=""><%=  customer.name %></p>
                  </div>
                  <div class="     w-full   leading-5 font-light text-[15.4px]">
                    <p>Adresse:</p>
                    <p class=""><%=  customer.address %> </p>
                  </div>
                </div>
              </div>
            
              <div class="facture-number font-light text-[23px]   ">
                
                <div class="leading-[24px]">
                  <p></p>
                  <% if(invoiceType == 0) { %>
                    <p class="facture-text" >PROFORMA</p>
                  <% } %>
                  <% if(invoiceType == 1) { %>
                    <p class="facture-text" >FACTURE</p>
                    <% } %>
                    <% if(invoiceType == 2) { %>
                    <p  class="facture-text" >BORDEREAU</p>
                  <% } %> 

                  
                  
                  <p>N°: <span><%=project.invoiceNumber.toString().padStart(5, '0')%></span> </p>
                </div>
            
                <div class="hidden hidden-date-border"></div>
                      
                <% if(invoiceType == 0) { %>
                  <p class="date font-light text-[17px]">Date: <%=date%></p>
                <% } %> 
                <% if(invoiceType == 1) { %>
                  <p class="date font-light text-[14px]">Date: <%=date%></p>
                <% } %> 
                <% if(invoiceType == 2) { %>
                  <p class="date font-light text-[19px]">Date: <%=date%></p>
                <% } %>
            
              </div>
            </div>
                        
                        
            <div class="headline-separator w-auto mx-[56px]">
              <svg width="721" height="8" viewBox="0 0 721 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.18408 3.85156H717.362" stroke="var(--primary-color, #F39200)" stroke-width="6.95471" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.18408 3.85156H196.955" stroke="var(--secondary-color, #E94E1B)" stroke-width="6.95471" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                  
            </div>
            
            <!-- table -->
            <%- include('../subtemplates2b/tabs/tab1') %>
            
            <!-- facture totals informations -->
            <%- include('../subtemplates2b/total/total1') %>

            <!-- signature -->
            <%- include('../subtemplates2b/sign/sign1') %>
            
          </main>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>
</html>
