<div class="bottom-0 items-center justify-center py-2 pt-2 footer page-footer inter">
  
  <p class="text-[11px] px-[57px]  pt-2 text-center line-clamp-4">
  

    <%= dataEnterpriseInfo %> 
     <!-- 
       - notre adresse <%= enterprise.address %> - Rccm :  <%= enterprise.rccm %> - Email :  <%= enterprise.email %> - Compte Bank :  <%= enterprise.bankNumber %> - Tél : +<%= JSON.parse(enterprise.numbers)[0].indicatif %><%= JSON.parse(enterprise.numbers)[0].number %> / +<%= JSON.parse(enterprise.numbers)[1]?.indicatif %><%= JSON.parse(enterprise.numbers)[1]?.number %> - <%= JSON.parse(enterprise.nif)[0].content %> <%= JSON.parse(enterprise.nif)[1]?.content %> -->
  
  </p>
</div>

