<div class="headline inter leading-5 font-light   text-[16.4px] px-14">
 
  <div>

    <p>Objet: <%= project.name %></p>
    <p>Client: <%=  customer.name %></p>
    <p>Adresse: <%=  customer.address %>  </p>
  </div>

  <div class="facture-number h-[80px]   flex flex-col     leading-tight text-[15px] inter">
    <div class="flex leading-6">
      <% if(invoiceType == 0) { %>
        <p>PROFORMA</p>
      <% } %>
      <% if(invoiceType == 1) { %>
        <p>FACTURE</p>
      <% } %>
      <% if(invoiceType == 2) { %>
        <p >BORDEREAU</p>
      <% } %> 
     
      <p> <span class="ml-1" >N°</span> :  <span><%=project.invoiceNumber.toString().padStart(5, '0')%></span></p>
    </div>
    <div class="flex items-center">
      <p>DATE:  <span><%=date%></span></p>
      
      
    </div>
  </div>
</div>




 