<header class="heading flex justify-between mt-[68px] px-[56px]">
  <div class="flex ">
    <img class=" max-h-[120px] object-left object-contain h-[120px] max-w-[400px] w-[400px]  " src="<%=logo%>" alt="" srcset="">
    <p class="text-[11px] px-[15px] text-right pl-10 pr-6">
  
 
      <%= enterprise.name %> - notre adresse <%= enterprise.address %> - Rccm :  <%= enterprise.rccm %> - Email :  <%= enterprise.email %> - Compte Bank :  <%= enterprise.bankNumber %> - Tél : +<%= JSON.parse(enterprise.numbers)[0].indicatif %><%= JSON.parse(enterprise.numbers)[0].number %> / +<%= JSON.parse(enterprise.numbers)[1]?.indicatif %><%= JSON.parse(enterprise.numbers)[1]?.number %> - <%= JSON.parse(enterprise.nif)[0].content %> <%= JSON.parse(enterprise.nif)[1]?.content %>
  
  </p>
                  </div>

</header> 




