<main class="tabs flex flex-col mt-[31.43px] font-light">
 
  <!-- table heading -->
  <div class="tabs-header     tabs-item inter flex w-full  text-[14.8px] gap-[5px] px-14 py-[14px]">
    <% if(invoiceType !== 2) { %>
    <p class="flex-1 py-[8.34px]  w-[275px]   px-[15.29px]">DESCRIPTION</p>

      
      
      <p class="w-[115px] py-[8.34px] text-center">QTé.</p>
      <p class="w-[115px] py-[8.34px] text-center"> <%=   invoiceType === 2 ? "Observation": " Prix.U" %></p>
  
      <p class="w-[115px] py-[8.34px] text-center"><%=   invoiceType === 2 ? "": "Montant" %> </p>
      
    <% } %> 
    <% if(invoiceType === 2) { %>
      <p class="min-w-[326px] w-[326px] flex-1 py-[8.34px]   px-[15.29px]">DESCRIPTION</p>
      <p class="w-[115px] py-[8.34px]  text-center">QTé.</p>
      <p class="flex-1 py-[8.34px] mr-0 max-w-auto    text-center"> <%=   invoiceType === 2 ? "Observation": " Prix.U" %></p>
  
 
    <% } %> 

    
  </div>

  <% table.forEach(function(item,index) { %>
    
    <div class="px-14 tabs-item ">
      <!-- table item -->
      <div class="border-b-[0.1px]  border-[#1D1D1D]/20 text-[12px] flex w-full items-center gap-[5px] min-h-[50px]  py-[14px]">
        <p class="flex-1"> <%=item.designation%> </p>
    
        <p class="w-[115px] py-[8.34px] text-center"> <%=item.quantity%> </p>
    
        <p class="w-[115px] py-[8.34px] text-center"> 
          <% if(item.rate != 0 && item.rate != null) { %>
            <%= invoiceType === 2 ? "": item.rate %>
          
          
            <span class="ml-1"> <%=   invoiceType === 2 ? "": currency %></span> 
            
          <% } %> 
    
         
      
    
        </p>
        <p class="w-[115px] py-[8.34px] text-center">  
          <% if(item.amount != 0 && item.amount != null) { %>
          <%=   invoiceType === 2 ? "": item.amount %>
        
                        
           
            
            <span class="ml-1"> <%=   invoiceType === 2 ? "": currency %></span>
            
            <% } %> 
          </p>
        
        </div>
        
        
        
      </div>
      <% }) %>


 
  <div class="flex align-bottom empty-item">
    <div class="w-full"></div>
  </div>
</main>
