<main class="tabs flex flex-col mt-[51.43px] font-light border-t-[1px] border-b-[1px] border-[#010101]">
  <!-- table heading -->
  <div class="tabs-header tabs-item inter flex w-full  text-[14.8px] gap-[5px] px-14">


    <% if(invoiceType !== 2) { %>
      <p class="flex-1 py-[8.34px] h-[62px]   px-[15.29px] border-[#010101] border-r-[1px]">DESCRIPTION</p>
  
        
        
        <p class="w-[115px] py-[8.34px] text-center">QTé.</p>
        <p class="w-[115px] py-[8.34px] text-center"> <%=   invoiceType === 2 ? "Observation": " Prix.U" %></p>
    
        <p class="w-[115px] py-[8.34px] text-center"><%=   invoiceType === 2 ? "": "Montant" %> </p>
        
      <% } %> 
      <% if(invoiceType === 2) { %>
        <p class="min-w-[321px] w-[270px] flex-1 py-[8.34px] border-[#010101] border-r-[1px]   h-[80px]  px-[15.29px]">DESCRIPTION</p>
        <p class="w-[115px] py-[8.34px]  text-center">QTé.</p>
        <p class="flex-1 py-[8.34px] mr-0 text-center"> <%=   invoiceType === 2 ? "Observation": " Prix.U" %></p>
    
   
      <% } %> 
  
    
  </div>
 
 
 


  <% table.forEach(function(item,index) { %>
    
    <div class="px-14 tabs-item ">
      <!-- table item -->
      <div class="border-b-none  border-[#1D1D1D]/20 text-[12px] flex w-full items-center gap-[5px] min-h-[35px]  ">
        <p class="flex-1 py-[8.34px] border-[#010101] pr-4 border-r-[1px]"> <%=item.designation%> </p>
    
        <p class="w-[115px] py-[8.34px] text-center"> <%=item.quantity%> </p>
    
        <p class="w-[115px] py-[8.34px] text-center"> 
          <% if(item.rate != 0 && item.rate != null) { %>
            <%= invoiceType === 2 ? "": item.rate %>
          
          
            <span class="ml-1"> <%=   invoiceType === 2 ? "": currency %></span> 
            
          <% } %> 
    
         
      
    
        </p>
        <p class="w-[115px] py-[8.34px] text-center">  
          <% if(item.amount != 0 && item.amount != null) { %>
          <%=   invoiceType === 2 ? "": item.amount %>
        
                        
           
            
            <span class="ml-1"> <%=   invoiceType === 2 ? "": currency %></span>
            
            <% } %> 
          </p>
        
        </div>
        
        
        
      </div>
      <% }) %>

</main>