<main class="tabs flex flex-col mt-[31.43px] font-light">
 
  <!-- table heading -->
  <div class="tabs-header      tabs-item inter flex w-full  text-[14.8px]  px-14 py-[14px] pb-0">
    <% if(invoiceType !== 2) { %>
    <p class="flex-1 py-[8.34px] border-black    border rounded-l-full   px-[15.29px]">DESCRIPTION</p>

      
      
      <p class="w-[115px] py-[8.34px] border-black border-t border-b border-r text-center">QTé.</p>
      <p class="w-[115px] py-[8.34px] text-center border-black  border-t border-b border-r"> <%=   invoiceType === 2 ? "Observation": " Prix.U" %></p>
  
      <p class="w-[115px] py-[8.34px] text-center border-black rounded-r-full   border-t border-b border-r"><%=   invoiceType === 2 ? "": "Montant" %> </p>
      
    <% } %> 
    <% if(invoiceType === 2) { %>
      <p class="min-w-[323px] w-[323px] flex-1 py-[8.34px]  border-black  border rounded-l-full    px-[15.29px]">DESCRIPTION</p>
      <p class="w-[115px] py-[8.34px]  text-center border-black border-t border-b border-r ">QTé.</p>
      <p class="flex-1 py-[8.34px] mr-0 max-w-auto    text-center border-black border-t border-b border-r rounded-r-full "> <%=   invoiceType === 2 ? "Observation": " Prix.U" %></p>
  
 
    <% } %> 

    
  </div>

  <% table.forEach(function(item,index) { %>
    
    <div class="px-14 tabs-item ">
      <!-- table item -->
      <div class="  border-[#1D1D1D]/20 text-[12px] flex w-full items-stretch  justify-stretch  min-h-[50px]  py-[0px]">
        <p class="flex-1 px-[15.29px] py-[15px] min-w-[323px] w-[323px] pt-[22px] border-r border-b border-black "> <%=item.designation%> </p>
    
        <p class="w-[115px] py-[15px] pt-[22px]    self-stretch  text-center border-r border-b border-black"> <%=item.quantity%> </p>

        
        <% if(invoiceType == 2) { %>

          <p class="w-[243px] py-[15px] pt-[22px] text-center   self-stretch  border-b border-black"> 
             
      
           
        
      
          </p>
          <% } %>


        <% if(invoiceType !== 2) { %>
      


        <p class="w-[115px] py-[15px] pt-[22px] text-center   self-stretch border-r border-b border-black"> 
          <% if(item.rate != 0 && item.rate != null) { %>
            <%= invoiceType === 2 ? "": item.rate %>
          
          
            <span class="ml-1"> <%=   invoiceType === 2 ? "": currency %></span> 
            
          <% } %> 
    
         
      
    
        </p>
        <p class="w-[115px] py-[15px] pt-[22px] text-center self-stretch  border-b border-black">  
          <% if(item.amount != 0 && item.amount != null) { %>
          <%=   invoiceType === 2 ? "": item.amount %>
        
                        
           
            
            <span class="ml-1"> <%=   invoiceType === 2 ? "": currency %></span>
            
            <% } %> 
          </p>
        
          <% } %>
        </div>
        
        
        
      </div>
      <% }) %>


 
  <div class="flex align-bottom empty-item">
    <div class="w-full"></div>
  </div>
</main>
